@tailwind base;
@tailwind components;
@tailwind utilities;

.text-grad {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to bottom right, #f27370, #442b75);
  background-clip: border-box;
  -webkit-background-clip: text;
}

.prose p > img[src*='icon/assets/'] {
  @apply inline-block m-0;
}

#nav {
  height: 100%;
}

@media (min-width: 1024px) {
  #nav {
    height: calc(100vh - 8rem);
  }
}

html {
  scroll-behavior: smooth;
}
