<section class="modular--content about--content">
	<div class="about--story">
		{{ content }}
	</div>
	<div class="about--scene clearfix">
		<img class="scene--cactus" src="{{ url('theme://dist/images/nurse_logo.svg') }}" />
		<img class="scene--sun" src="{{ url('theme://dist/images/nurse_sun.svg') }}" />
	</div>
</section>
