<section class="modular--content who--content">
	<h1>{{ header.title }}</h1>
	<div class="who--headshot">
		<img src="{{ url('theme://dist/images/joel_hans_headshot_web.jpg') }}" />
	</div>
	<div class="who--bio">
		{{ content }}
	</div>
</section>
