{{ define "title" -}}
  {{ .Title }} | Nurse
{{- end }}
{{ define "main" }}

<div id="post" class="section border-t-0 pt-20 md:pt-40">
  <div class="container">
    <div class="columns">

      <div class="column lg:w-3/5">

        <h1 class="text-grad text-4xl lg:text-6xl font-display text-orange leading-tighter pb-8">{{ .Title }}</h1>
        <p>{{ .Description }}</p>

      </div>
      <div class="column lg:w-2/5">

        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/nurse-media/introductions" style="min-width:320px;height:580px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
        <!-- Calendly inline widget end -->

      </div>

    </div>

  </div>
</div>

{{ end }}