<section id="about" class="container">
<div class="story row">
  <div class="column">

    <p>
      <svg id="nurse__type" xmlns="http://www.w3.org/2000/svg" width="70" height="20">
        <defs>
          <linearGradient id="nurse__gradient" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="30%" stop-color="#9F5B82" />
            <stop offset="100%" stop-color="#442b75" />
          </linearGradient>
        </defs>
        <text x="0" y="20" font-size="20" fill="url(#nurse__gradient)">
          Nurse
        </text>
      </svg>
      is inspired by the concept of a <em>nurse tree</em>.</p>
    <p>In order for a young saguaro cactus to survive the Sonoran Desert's extreme climate, it requires the help of a mature mesquite, ironwood, or palo verde tree. As a young a vulnerable seeding, the saguaro benefits from the nurse tree's microclimate of shade and humidity.</p>
    <p>In time, the saguaro grows tall enough to extend beyond its nurse tree, and take on the Sonoran Desert for the first time.</p>
    <p>I like to believe I work by these same principles of collaboration and symbiosis. With any project, my goal is to give you the support you need to focus on your business, whether that's coding, building, or just dreaming. My mission is to translate what you do into a story that will make customers believe in what you have to offer.</p>
    <p>As a copywriter and marketer, I work with companies of all sizes, from startup to enterprise, to discover new and compelling ways to better reach their existing audiences and begin interacting with new ones.</p>
    <p>Let's grow together.</p>

  </div>
  <div class="column">

    <img src="{{ url('theme://dist/images/saguaro.jpg') }}" alt="Landscape with saguaro cactus" />

  </div>
</div>
<div class="services row">
  <div class="column">

    <h1>Services available:</h1>

  </div>
  <ul class="column">

    <li>Copywriting</li>
    <li>Brand strategy</li>
    <li>Market research</li>

  </ul>
  <ul class="column">

    <li>Content strategy</li>
    <li>Web design</li>
    <li>Email marketing</li>

  </ul>
  <ul class="column">

    <li>Marketing strategy</li>
    <li>SEO-driven content</li>
    <li>Project management</li>

  </ul>
</div>
<div class="people row">
  <div class="column column-67">

    <p>I'm Joel Hans, Nurse's director. I received my Bachelor's of Arts from the University of Wisconsin before earning my Master's in creative writing from the University of Arizona in Tucson, where I now live with my wife.</p>
    <p>More than anything, I'm a storyteller. I don't just write to help my clients grow their businesses—I write nearly everyday, for myself, because I truly love it. My fiction has been published in widely-read magazines and digital publications. Some of my favorites include:</p>
    <ul>
      <li>
        <a href="http://www.bucknell.edu/west-branch-wired/joel-hans.html">“Cardinine, Seafoamyst, Morningite”</a>
      </li>
      <li>
        <a href="http://greenmountainsreview.com/doesyourshaveaheart/">"Does Yours Have a Heart, Too?"</a>
      </li>
      <li>
        <a href="https://mastersreview.com/new-voices/the-boomslang-coup-by-joel-hans/">“The Boomslang Coup”</a>
      </li>
      <li>
        <a href="http://www.theadroitjournal.org/issue-eighteen-joel-hans-the-adroit-journal">“Evaporation”</a>
      </li>
    </ul>
    <p>You can find and follow me on <a href="https://twitter.com/joelhans">Twitter</a> and <a href="https://github.com/joelhans">GitHub</a>.

  </div>
  <div class="column column-33">

    <figure class="me">
      <img
      src="{{ url('theme://dist/images/joel_hans_headshot_web.jpg') }}"
      alt="Joel Hans">
    </figure>

  </div>
</div>
</section>
<div class="stripes stripes--about"></div>
