<section id="about" class="container">
<div class="row">
  <div class="column">

    <figure class="me">
      <img
      src="{{ url('theme://dist/images/joel_hans_headshot_web.jpg') }}"
      alt="Joel Hans">
      <figcaption>Joel Hans</figcaption>
    </figure>

  </div>
</div>
<div class="services row">
  <div class="column">

    <h1>Our services:</h1>

  </div>
  <ul class="column">

    <li>Copywriting</li>
    <li>Brand strategy</li>
    <li>Market research</li>

  </ul>
  <ul class="column">

    <li>Content strategy</li>
    <li>Web design</li>
    <li>Email marketing</li>

  </ul>
  <ul class="column">

    <li>Marketing strategy</li>
    <li>SEO-driven content</li>
    <li>Project management</li>

  </ul>
</div>
</section>
<div class="stripes stripes--about"></div>
