<section id="contact" class="container">
<div class="row vertical-align">
  <div class="column column-50 column-offset-25">

    {% include "forms/form.html.twig" with { form: forms('contact-form') } %}

  </div>
</div>
</section>
