<div class="row">
  <div class="col">

    <p><a href="mailto:joel@nurse.media">hi@nurse.media</a><p>

  </div>
  <div class="col">

    {% include "forms/form.html.twig" with { form: forms('contact-form') } %}

  </div>
</div>
