<footer class="container">
  <div class="row">

    <div class="col footer__copyright">

      <p><a href="mailto:hi@nurse.media">hi@nurse.media</a><p>

      <p>&copy; 2017 Nurse Media LLC</p>

    </div>

  </div>
</footer>
