<footer>

  <div class="headshot">
    <img src="{{ url('theme://dist/images/joel_hans.jpg') }}" />
  </div>

  <div class="copyright">
    <p>&copy; 2016 -></p>
    <p>Love, from the Sonoran Desert. </p>
  </div>

</footer>
