<footer>

  <section class="grid">

    <div class="footer__copyright col--6">
      <p>&copy; 2017 Nurse Media LLC</p>
    </div>

    <div class="footer__nav col--6">
      <a href="{{ base_url }}/work" data-text="Work" data-slug="work">Work</a>
      <a href="{{ base_url }}/about" data-text="About" data-slug="about">About</a>
      <a href="{{ base_url }}/contact" data-text="Contact" data-slug="contact">Contact</a>
    </div>

  </section>

</footer>
