<footer class="container">
  <div class="row">

    <div class="column">

      <p>Designed and built by Joel Hans. Send me an email: <a href="mailto:hi@nurse.media">hi@nurse.media</a>. &copy; 2017 Nurse Media LLC.</p>

    </div>

  </div>
</footer>
