<div class="header--branding">
  <img class="header--type" src="{{ url('theme://dist/images/nurse_type.png') }}" alt="Nurse Media logo">
</div>
<div class="header--tagline">
  <h1>Where brands get shelter</h1>
</div>
