<section id="work" class="container">
<div class="row">
  <article class="column project">

    <figure>
      <img
      src="{{ url('theme://dist/images/work_SSD_Nodes.png') }}"
      alt="SSD Nodes">
      <figcaption>
        <h1>SSD Nodes</h1>
        <h2>Website copy &amp; web development</h2>
        <p>Some stuff goes here.</p>
      </figcaption>
    </figure>

  </article>
  <article class="column project">

    <figure>
      <img
      src="{{ url('theme://dist/images/work_Classuite.png') }}"
      alt="Classuite">
      <figcaption>
        <h1>Classuite</h1>
        <h2>Website copy</h2>
        <p>Some stuff goes here.</p>
      </figcaption>
    </figure>

  </article>

</div>
<div class="row">
  <article class="column project">

    <figure>
      <img
      src="{{ url('theme://dist/images/work_OpenText.png') }}"
      alt="SSD Nodes">
      <figcaption>
        <h1>OpenText</h1>
        <h2>Technical writing &amp; content strategy</h2>
        <p>Some stuff goes here.</p>
      </figcaption>
    </figure>

  </article>
  <article class="column project">

    <figure>
      <img
      src="{{ url('theme://dist/images/work_Classuite.png') }}"
      alt="Classuite">
      <figcaption>
        <h1>Classuite</h1>
        <h2>Website copy</h2>
        <p>Some stuff goes here.</p>
      </figcaption>
    </figure>

  </article>

</div>
<div class="clients row">
  <div class="column">

    <h1>A handful of clients:</h1>

  </div>
  <ul class="column">

    <li>Johnson &amp; Johnson</li>
    <li>Autodesk</li>
    <li>OpenText</li>
    <li>Explore Consulting</li>

  </ul>
  <ul class="column">

    <li>Strasmore / SSD Nodes</li>
    <li>RTInsights</li>
    <li>Bobsled Marketing</li>
    <li>Camden Gear</li>

  </ul>
  <ul class="column">

    <li>ParcelFrog</li>
    <li>LogicGate</li>
    <li>SingSnap</li>

  </ul>
</div>
</section>
<div class="stripes stripes--work"></div>
