<section id="work" class="container">
<div class="row">

  <div class="column">


  </div>
  <div class="column">


  </div>

</div>
<div class="clients row">
  <div class="column">

    <h1>A handful of clients:</h1>

  </div>
  <ul class="column">

    <li>Johnson &amp; Johnson</li>
    <li>Autodesk</li>
    <li>RTInsights</li>
    <li>Explore Consulting</li>

  </ul>
  <ul class="column">

    <li>Strasmore</li>
    <li>Bobsled Marketing</li>
    <li>Camden Gear</li>
    <li>ParcelFrog</li>

  </ul>
  <ul class="column">

    <li>LogicGate</li>
    <li>EEMC</li>
    <li>SingSnap</li>

  </ul>
</div>
</section>
<div class="stripes stripes--work"></div>
