<section id="work" class="container">
<div class="row">
  <article class="column project">

    <figure>
      <img
      src="{{ url('theme://dist/images/work_SSD_Nodes.png') }}"
      alt="SSD Nodes">
      <figcaption>
        <h1>SSD Nodes</h1>
        <h2>Web copy &amp; content strategy/marketing</h2>
        <p>I engage constantly with the founder to hone the messaging and branding of SSD Nodes. On new assets, I manage the entire workflow, from developing copy to designing and developing the page.</p>
        <p>Since beginning our content marketing strategy, I've grown blog traffic by 100% month over month, delivering hundreds of prospective customers to the next stage in the funnel via CTAs and unique offers.</p>
        <p><a href="//ssdnodes.com">Visit site</a></p>
      </figcaption>
    </figure>

  </article>
  <article class="column project">

    <figure>
      <img
      src="{{ url('theme://dist/images/work_Classuite.png') }}"
      alt="Classuite">
      <figcaption>
        <h1>Classuite</h1>
        <h2>Website copy</h2>
        <p>In early 2017, Classuite was getting ready to leave their beta status and fully launch their classroom collaboration platform. To accompany that maturity, they sought a new strategy to position their product and reinforce their guiding principles: empowering teachers to help their students learn.</p>
        <p>I worked with Classuite's founder to develop the brand's new tagline and the remainder of their website.</p>
        <p><a href="//classuite.com">Visit site</a></p>
      </figcaption>
    </figure>

  </article>

</div>
<div class="row">
  <article class="column project">

    <figure>
      <img
      src="{{ url('theme://dist/images/work_OpenText.png') }}"
      alt="SSD Nodes">
      <figcaption>
        <h1>OpenText</h1>
        <h2>Technical writing &amp; content strategy</h2>
        <p>Ahead of the launch of their new Magellan analytics software, I collaborated with OpenText's product development team to produce a comprehensive document that outlines what their solution accomplishes and how enterprises can take full advantage of machine-assisted analytics.</p>
        <p><a href="http://www.opentext.com/file_source/OpenText/en_US/PDF/opentext-magellan-solution-overview.pdf">Visit site</a></p>
      </figcaption>
    </figure>

  </article>
  <article class="column project">

    <figure>
      <img
      src="{{ url('theme://dist/images/work_Classuite.png') }}"
      alt="Classuite">
      <figcaption>
        <h1>RTInsights</h1>
        <h2>Content strategy/marketing</h2>
        <p>I regularly collaborate with the editorial staff of <em>RTInsights</em>—a publication for business leaders who want want to improve through technology—to create new content and innovative strategies around big data analytics, blockchain, artificial intelligence, deep learning, the Internet of Things, and more.</p>
        <p><a href="https://www.rtinsights.com/author/joel-hans/">Visit site</a></p>
      </figcaption>
    </figure>

  </article>

</div>
<div class="clients row">
  <div class="column">

    <h1>A handful of clients:</h1>

  </div>
  <ul class="column">

    <li>Johnson &amp; Johnson</li>
    <li>Autodesk</li>
    <li>OpenText</li>
    <li>Explore Consulting</li>

  </ul>
  <ul class="column">

    <li>Strasmore / SSD Nodes</li>
    <li>RTInsights</li>
    <li>Bobsled Marketing</li>
    <li>Camden Gear</li>

  </ul>
  <ul class="column">

    <li>ParcelFrog</li>
    <li>LogicGate</li>
    <li>SingSnap</li>

  </ul>
</div>
</section>
<div class="stripes stripes--work"></div>
