/* ===============================================================
   Variables
   =============================================================== */

/* Colors
   =============================================================== */

$orange: #f27370;
$blue: #22559c;
$green: #00a891;
$pink: #9F5B82;
$purple: #442b75;
$black: #171320;

/* Text, links, and backgrounds
   =============================================================== */

$text: $purple;
$primary: $pink;
$link: $orange;
$link-hover: $pink;
$info: $green;
$dark: $purple;
$background: $purple;
$background-dark: $purple;
$background-black: $black;

/* Buttons
   =============================================================== */

$button-color: $black;
$button-padding-horizontal: 1.3rem;
$button-padding-vertical: 1rem;

/* Misc
   =============================================================== */

$family-sans-serif: "Poppins", sans-serif;
$body-background-color: white;
$body-size: 18px;
$radius: 2px;

/* Navbar
   =============================================================== */

$navbar-background-color: white;
$navbar-height: 6rem;
$navbar-padding-vertical: 2rem;
$navbar-padding-horizontal: 6rem;
$navbar-item-color: $link;
$navbar-item-hover-color: $link-hover;
$navbar-item-active-background-color: transparent !default;
$navbar-item-hover-background-color: transparent !default;
$navbar-burger-color: $link;
$navbar-dropdown-boxed-radius: $radius;