/* ===============================================================
   Variables
   =============================================================== */

/* Imports
   =============================================================== */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

@import "variables";

@import "node_modules/bulma/bulma";

/* Fonts
   =============================================================== */

@font-face {
  font-family: 'Anders';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Anders.woff') format('woff');
}

.button {
  height: auto;
}

/* Navbar
   =============================================================== */

.navbar-brand {
  align-items: center;
}

.logo {
  font-family: 'Anders';
  font-size: 2rem;
  font-weight: 700;

  text { 
    dominant-baseline: middle;
    text-anchor: left; 
  }
}

/* Index / intro
   =============================================================== */

.intro {
  min-height: 50vh;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.intro .columns {
  align-items: center;
}

.intro__img {
  max-height: 400px;
}

.intro h1 span {
  color: $green;
}

.intro .content p {
  margin-bottom: 1.8rem;
}

.intro .button {
  margin-bottom: 1rem;

  &:not(:last-child) {
    margin-right: 2rem;
  }
}

/* Index / clients
   =============================================================== */

#clients {
  padding: 5rem 1.5rem;
  background: rgba(68, 43, 117, 0.1);
}

/* Index / services
   =============================================================== */

#services {
  padding: 5rem 1.5rem;
}
