{{ define "title" -}}
  {{ .Title }} | Nurse
{{- end }}
{{ define "main" }}

<div class="section">
  <div class="container">
    <div class="columns">

      <div class="column md:w-2/3">

        <h1 class="text-4xl lg:text-5xl text-grad font-display leading-tighter pb-8"> Nurtured copy is more than pretty-sounding words.</h1>

      </div>

    </div>
    <div class="columns mt-24">

      <div class="column md:w-3/5">

        <p class="text-xl leading-normal mb-6">I've seen too many smart businesses with great products idling because their copy and content isn't impactful.</p>

      </div>

    </div>
  </div>
</div>

{{ end }}