{{ define "title" -}}
  {{ .Title }} | Nurse
{{- end }}
{{ define "main" }}

<div class="section">
  <div class="container">
    <div class="columns items-end">

      <div class="column md:w-2/3">

        <h1 class="text-4xl lg:text-5xl text-grad font-display leading-tighter mb-12">Nurtured copy is more than pretty-sounding words.</h1>
        <p class="text-xl leading-normal mb-6">I've seen too many smart businesses with great products idling because their copy and content isn't impactful.</p>
        <p class="text-xl leading-normal mb-6">Most of my clients are looking for a custom-built package of nurtured copy or content. Here are just a few of the ways I can help:</p>
        <ul class="text-xl leading-tight mb-6">
          <li class="mb-2">Audits of existing web copy</li>
          <li class="mb-2">Copywriting of new sites or landing pages</li>
          <li class="mb-2">Customer research, including surveys and heatmaps</li>
          <li class="mb-2">Content marketing strategy, including every written asset you'll need to inspire visitors and turn them into customers</li>
          <li class="mb-2">Email campaigns for onboarding, retention, and more</li>
          <li class="mb-2">A/B testing for incremental-but-essential improvement</li>
          <li class="mb-2">And more...</li>
        </ul>
        <p class="text-xl leading-normal"><a class="text-orange hover:text-purple font-bold" href="/contact/">Tell me about your project</a> and I'll get you a precise quote that clearly explains not only what I'll do for you. More importantly, it will also detail how nurtured copy will get your business growing.</p>

      </div>
      <div class="column md:w-1/3">
        <div class="p-4 border-2 border-orange rounded-sm">

          <p class="text-lg mb-4">See some of my previous work:</p>
          <p class="text-lg mb-4"><a class="text-orange hover:text-purple font-bold" href="/work/#ssd-nodes">Landing page for 2X sales</a></p>
          <p class="text-lg mb-4">Bold branding for SaaS app</p>
          <p class="text-lg">Creating clarity around IBM Streams</p>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="section bg-grey-lightest">
  <div class="container">
    <div class="columns">

      <div class="column md:w-2/3">

        <h2 class="text-3xl lg:text-4xl text-purple font-display leading-tighter mb-8">Want to get started right away? Looking for more definition?</h2>
        <h3 class="text-xl lg:text-2xl text-green font-display font-normal mb-6">I offer three packages with transparent prices and specific deliverables for both recurring and one-off projects.</h3>

      </div>

    </div>
    <div class="columns">

      <div class="column md:w-3/5">

        <p class="text-xl leading-normal mb-6">I've seen too many smart businesses with great products idling because their copy and content isn't impactful.</p>
        <p class="text-xl leading-normal mb-6">Most of my clients are looking for a custom-built package of nurtured copy or content. Here are just a few of the ways I can help:</p>
        <ul class="text-xl leading-tight mb-6">
          <li class="mb-2">Audits of existing web copy</li>
          <li class="mb-2">Copywriting of new sites or landing pages</li>
          <li class="mb-2">Customer research, including surveys and heatmaps</li>
          <li class="mb-2">Content marketing strategy, including every written asset you'll need to inspire visitors and turn them into customers</li>
          <li class="mb-2">Email campaigns for onboarding, retention, and more</li>
          <li class="mb-2">A/B testing for incremental-but-essential improvement</li>
          <li class="mb-2">And more...</li>
        </ul>
        <p class="text-xl leading-normal mb-6"><a class="text-orange hover:text-purple font-bold" href="/contact/">Tell me about your project</a> and I'll get you a precise quote that clearly explains not only what I'll do for you. More importantly, it will also detail how nurtured copy will get your business growing.</p>

      </div>

    </div>
  </div>
</div>

{{ end }}