//------------------------------------------------------------
//  About
//------------------------------------------------------------

.me
  margin: 0
  text-align: center
  width: 150px

  img
    border-radius: 80px
    width: 150px

  figcaption
    font: 400 1.7rem/1.5 "Quicksand"

.services

  h1
    font: 400 2.2rem/1.5 "Quicksand", sans-serif

  ul
    list-style-type: none

  ul li
    font: 500 1.6rem/1.5 "Quicksand", sans-serif
