.client
  +span(4 of 12)
  height: 400px
  // padding: 1rem
  margin-bottom: 2rem
  background: $d-blue
  border-radius: 6px

  img
    max-width: 100%
    border-radius: 6px 6px 0 0

.client--meta
  padding: 0 2rem

  h1
    font-size:
