header
  padding: 12rem 0 14rem 0
  background: linear-gradient(to top, rgba(46, 49, 65, 0.6), rgba(46, 49, 65, 0.6)), url('../images/storm.png')
  background-size: auto, cover
  // background-attachment: fixed, fixed
  background-position: center, center

.header--branding
  @include span(12 of 12)
  padding-bottom: 5rem
  border-bottom: 2px solid rgba(46, 49, 65, 0.6)

.header--logo
  width: 150px
  height: auto

.header--type
  width: 300px
  height: auto
  position: relative
  bottom: 35px
  margin-left: 4rem

.header--tagline
  @include span(12 of 12)
  padding-top: 3rem

.header--tagline h1
  font-size: 3rem
  color: white

._do
  background: black
