/////////////////////////////////
// STICKY
////////////////////////////////

.nurse--sticky
  position: fixed
  width: 150px
  height: auto
  z-index: 200

  img
    max-width: 100%

/////////////////////////////////
// LOGO
/////////////////////////////////

.nurse--logo
  position: absolute
  // top: 150px
  left: 0px
  width: 150px
  height: auto
  // transition: width 0.3s ease-in-out, left 0.3s ease-in-out
  z-index: 200

  img
    max-width: 100%

/////////////////////////////////
// NAVIGATION
/////////////////////////////////

/////////////////////////////////
// HEADER
/////////////////////////////////

header
  padding: 10rem 0 18rem 0
  background: linear-gradient(to top, rgba(46, 49, 65, 0.6), rgba(46, 49, 65, 0.6)), url('../images/storm.png')
  background-size: auto, cover
  background-position: center, center

.header--branding
  @include span(12 of 12)
  height: 270px
  position: relative
  border-bottom: 2px solid rgba(46, 49, 65, 0.6)

.header--logo.logo--small
  width: 80px
  position: fixed
  top: 10px
  left: 10px

.header--type
  width: 300px
  height: auto
  position: absolute
  left: 240px
  top: 55px

.header--tagline
  @include span(12 of 12)
  padding-top: 3rem

.header--tagline h1
  font-size: 4rem
  color: white

._do
  background: black
