.me
  @include span(2 of 12)
  @include pull(2)
  h1
    font-family: 'Raleway', sans-serif
    font-size: 1rem
    // line-height: 1.2
    font-weight: 700
    color: $yellow
    margin: 0

nav
  @include span(12 of 12)
  margin-top: 4rem

  .menu
    @include span(12 of 12)
    a
      margin-right: 2rem

  a.right
    float: right
    margin-left: 2rem
    margin-right: 0
