//------------------------------------------------------------
//  Work
//------------------------------------------------------------

.project.column
  margin-bottom: 12rem

  figure
    background: linear-gradient(160deg, $pink 30%, $purple)
    border-radius: 4px
    margin: 0

  img
    border-radius: 4px
    padding: 1px

  figcaption
    color: white
    font: 500 1.4rem/1.5 "Quicksand", sans-serif
    margin-top: -8px
    padding: 1rem 2rem 1.4rem
    position: relative

    h1
      display: inline-block
      font: 400 2.6rem/1.5 "Quicksand", sans-serif

    h2
      border-radius: 4px
      display: inline-block
      font: 400 1.2rem/1.5 "Overpass", sans-serif
      text-transform: uppercase
      background: white
      color: $purple
      padding: 0.5rem 0.8rem 0.3rem
      top: 18px
      right: 2rem
      position: absolute

    a
      color: white
      &:hover
        color: $orange

.clients

  h1
    font: 400 2.2rem/1.5 "Quicksand", sans-serif

  ul
    list-style-type: none

  ul li
    font: 500 1.6rem/1.5 "Quicksand", sans-serif
