//------------------------------------------------------------
//  Work
//------------------------------------------------------------

.clients

  h1
    font: 400 2.2rem/1.5 "Quicksand", sans-serif

  ul
    list-style-type: none

  ul li
    font: 500 1.6rem/1.5 "Quicksand", sans-serif
