{{ define "title" -}}
  {{ .Title }} | Nurse
{{- end }}
{{ define "main" }}

<div class="section">
  <div class="container">
    <div class="columns">

      <div class="column md:w-2/3">

        <h1 class="text-4xl lg:text-5xl text-grad font-display leading-tighter">The road to nurtured copy and content is urprisingly effortless.</h1>

      </div>

    </div>
    <div class="columns mt-24">

      <div class="content column md:w-3/5 py-12 border border-purple rounded">

        <h2 class="mt-0">1. I learn about your problems.</h2>
        <p class="text-xl leading-normal mb-6">After you <a class="text-orange hover:text-purple" href="/contact/">contact me</a> and I'm confident I can help, we'll schedule our 20-minute discovery meeting.</p>
        <p class="text-xl leading-normal mb-6">We'll chat about your business, your budget, and your biggest problems. Together, we'll get a better understand of how copy can help solve those problems and get your business growing.</p>
        <p class="text-xl leading-normal mb-6">Some clients don't even know <em>what</em> they want yet. If that sounds like you, we'll also schedule a paid roadmapping session to take a deeper dive into your audience, weaknesses, and opportunities.</p>
        <p class="text-xl leading-normal mb-2">Now you'll have:</p>
        <ul class="text-lg leading-tight">
          <li class="mb-2">A solid idea of how I'll help.</li>
          <li class="">An understanding of my process, skills, and the value I'll bring to your company.</li>
        </ul>

      </div>

    </div>
    <div class="columns mt-24">

      <div class="content column md:w-3/5 ml-auto py-12 border border-purple rounded">

        <h2 class="text-3xl lg:text-4xl text-purple font-display leading-tighter">2. I create your growth plan.</h2>
        <p class="text-xl leading-normal mb-6">Now that I have all the details I need, I build a quote, proposal, and growth plan that you can sign electronically.</p>
        <p class="text-xl leading-normal mb-6">Once you approve, I'll send over an invoice for a 50% deposit and schedule your project.</p>
        <p class="text-xl leading-normal mb-2">Now you'll have:</p>
        <ul class="text-lg leading-tight">
          <li class="mb-2">A firm quote.</li>
          <li class="">A kick-off date that works for both of us. Let's do this!</li>
        </ul>

      </div>

    </div>
    <div class="columns mt-24">

      <div class="content column md:w-3/5 py-12 border border-purple rounded">

        <h2 class="text-3xl lg:text-4xl text-purple font-display leading-tighter">3. I research how I can drive value (while you get back to the work you do best).</h2>
        <p class="text-xl leading-normal mb-6">I'll begin to examine your current branding and the voice of your customer to figure out the exact tone that inspires your audience.</p>
        <p class="text-xl leading-normal mb-6">I may also ask for existing customer research and access to web analytics or heatmapping data.</p>
        <p class="text-xl leading-normal mb-6">I'll also figure out what your competitors' most successful ideas, identify how we could make them even better, and identify other missed opportunities.</p>
        <p class="text-xl leading-normal mb-2">Now you'll have:</p>
        <ul class="text-lg leading-tight">
          <li class="mb-2">Confidence that I understand your business and its leading opportunities.</li>
          <li class="">A better picture of who your customers are.</li>
        </ul>

      </div>

    </div>
    <div class="columns mt-24">

      <div class="content column md:w-3/5 ml-auto py-12 border border-purple rounded">

        <h2 class="text-3xl lg:text-4xl text-purple font-display leading-tighter">4. I write the first draft of your nurtured copy.</h2>
        <p class="text-xl leading-normal mb-6">Now that I have all the details I need, I get to work creating the first draft. I combine research, voice, storytelling, and language that's proven to inspire the right people to take the right action.</p>
        <p class="text-xl leading-normal mb-6">As I work, I'll organize my research into a growth path document and put my nurtured copy into a wireframe so your entire team can understand how—and where—my words will work.</p>
        <p class="text-xl leading-normal mb-6">Along the way, I'll send you quick daily messages to inform you about my progress and ask any last-minute questions.</p>
        <p class="text-xl leading-normal mb-2">Now you'll have:</p>
        <ul class="text-lg leading-tight">
          <li class="mb-2">A first draft you'll love.</li>
          <li class="mb-2">A generous handful of questions and comments to help make the end product even better.</li>
          <li class="">Time to review my work and make suggestions.</li>
        </ul>

      </div>

    </div>
    <div class="columns mt-24">

      <div class="content column md:w-3/5 py-12 border border-purple rounded">

        <h2 class="text-3xl lg:text-4xl text-purple font-display leading-tighter">5. I edit the work based on your feedback.</h2>
        <p class="text-xl leading-normal mb-6">After we've talked and you've given me your honest feedback, I head back to make revisions. I typically account for one or two rounds of input and editing.</p>
        <p class="text-xl leading-normal mb-6">Once you're happy with my work, I send over an invoice for the remaining balance and release all your deliverables.</p>
        <p class="text-xl leading-normal mb-2">Now you'll have:</p>
        <ul class="text-lg leading-tight">
          <li class="">Nurtured content that's ready to go live!</li>
        </ul>

      </div>

    </div>
    <div class="columns mt-24">

      <div class="column md:w-3/5 ml-auto py-12 border border-purple rounded">

        <h2 class="text-3xl lg:text-4xl text-purple font-display leading-tighter">6. We launch, together.</h2>
        <p class="text-xl text-bold italic leading-normal mb-6">Congratulations!</p>
        <p class="text-xl leading-normal mb-6">I'm on hand to make sure the process of bringing your new content online goes smoothly.</p>
        <p class="text-xl leading-normal mb-6">Now that the results are coming in, we can accelerate your growth potential by looking at data and crafting variants for AB testing. I can begin an iterative process to ratchet up conversions and make your website even more impactful.</p>
        <p class="text-xl leading-normal mb-2">Now you'll have:</p>
        <ul class="text-lg leading-tight">
          <li class="mb-2">A website with nurtured copywriting.</li>
          <li class="mb-2">More leads, sales, and everything else your business needs.</li>
          <li class="">Growth that you don't have to spend time on.</li>
        </ul>

      </div>

    </div>
    <div class="columns mt-24">

      <div class="column md:w-2/3 mx-auto py-8 border-grad">

        <p class="text:2xl lg:text-3xl text-purple leading-normal mb-6">Why wait for nurtured copy? Why settle for idleness?</p>
        <div class="flex items-center">
          <a class="button inline-block text-lg lg:text-xl font-bold text-white bg-orange p-6 hover:bg-green" href="/contact/" target="_blank" rel="noopener">Get in touch</a>
          <p class="text-lg ml-4">Or <a class="text-orange italic hover:text-purple" href="/services/">learn more about my services</a></p>
        </div>

      </div>
    </div>
  </div>
</div>

{{ end }}