{{ define "main" }}

<div id="blog" class="section border-t-0 pt-16 md:pt-32">
  <div class="container">
    <div class="columns">

      <div class="column px-6 mb-24">

        <h1 class="text-xl text-green font-normal">{{ .Description | safeHTML }}</h1>

      </div>

      <div class="column md:w-2/3 px-6">

        {{ range .Pages }}
          <div class="mb-20">
            <h2 class="text-2xl lg:text-3xl font-bold mb-2"><a class="text-purple hover:text-orange" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p class="text-lg leading-normal">{{ .Description | markdownify | safeHTML }}</p>
          </div>
        {{ end }}

        <h3 class="text-2xl lg:text-3xl text-green mt-24 mb-2">More posts</h3>
        <p class="text-lg leading-normal mb-4">I post weekly. You'll get an email whenever I do, plus see what I'm working on next.</p>

        {{ $formType := "blog" }}
        {{ $formText := "Send me updates" }}
        {{ $formShape := "horizontal" }}
        {{ $formBorder := "bordered" }}
        {{ $buttonColor := "orange" }}
        {{ partial "subscribe.html" (dict "emailType" $formType "formText" $formText "formShape" $formShape "formBorder" $formBorder "buttonColor" $buttonColor) }}

        <p class="text-lg leading-normal mt-8">Subscribe via <a class="text-green hover:text-orange" href="/blog/index.xml">RSS</a>.

      </div>

    </div>
  </div>
</div>

{{ end }}