{{ define "main" }}

<div id="blog" class="section border-t-0 pt-16 md:pt-32">
  <div class="container">
    <div class="columns">

      <header class="column mb-24">

        <h1 class="text-xl text-green font-bold italic">{{ .Description | safeHTML }}</h1>

      </header>

      <div class="column md:w-2/3">

        {{ range .Pages }}
          <article class="mb-20">
            <h2 class="text-2xl lg:text-3xl font-bold mb-2"><a class="text-purple hover:text-orange" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p class="text-lg leading-normal">{{ .Description | markdownify | safeHTML }}</p>
          </article>
        {{ end }}

      </div>

      <aside class="column md:w-1/3">

        <div class="p-8 border-2 border-green rounded-sm">

        <h3 class="text-2xl lg:text-3xl text-green mb-2">Join others:</h3>
        <p class="text-lg leading-normal mb-4">Subscribe to get copywriting advice and my latest articles delivered straight to your inbox.</p>

        {{ $formType := "blog" }}
        {{ $formText := "Send me updates" }}
        {{ $formShape := "vertical" }}
        {{ $formBorder := "bordered" }}
        {{ $buttonColor := "orange" }}
        {{ partial "subscribe.html" (dict "emailType" $formType "formText" $formText "formShape" $formShape "formBorder" $formBorder "buttonColor" $buttonColor) }}

        <p class="text-base leading-normal italic mt-4">Subscribe via <a class="text-green hover:text-orange" href="/blog/index.xml">RSS</a>.

        </div>

      </aside>

    </div>
  </div>
</div>

{{ end }}