/* ===============================================================
== 
== About page
==
=============================================================== */

/* Drop in image
=============================================================== */

.about-drop img {
  @apply block m-0;
}

.about-drop p {
  max-width: 300px;
  top: 100px;
  left: 20%;
  /* transform: rotateZ(10deg); */
}
