/* ===============================================================
== 
== BLOG
==
=============================================================== */

/* Copywriting checklist
=============================================================== */

.checklist-pull {
  @apply p-8;
  left: 100%;
  
  z-index: 10;
  margin-top: -6rem;
  width: 33.333%;

  @screen xl {
    width: 50%;
  }
}

.checklist-pull .inner {
  @apply bg-grey-lightest border-2 border-orange rounded-sm;
}

.checklist-pull li {
  @apply text-sm;
}