/* Initial tailwind imports
=============================================================== */

@tailwind preflight;
@tailwind components;

/* Custom utilities
=============================================================== */

a, button {
  transition: 0.3s all ease;
  @apply no-underline;
}

.button {
  @apply inline-block rounded-sm;
}

.section {
  @apply border-t-2 py-40;
}

.container { 
  @apply relative mx-auto; 
}

.columns { 
  @apply relative flex flex-wrap; 
}

@screen md {
  .columns { @apply -mx-10; }
}

.column {
  @apply relative w-full px-4;
}

@screen md {
  .column { @apply px-10; }
}

/* Tailwind utilities
=============================================================== */

@tailwind utilities;

/* Other customizations/standards
=============================================================== */

body {
  overflow-x: hidden;
}

.text-grad {
  background: linear-gradient(to bottom right, config('colors.orange'), config('colors.purple'));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Homepage
=============================================================== */

@font-face {
  font-family: 'Anders';
  font-style: normal; 
  font-weight: 400;
  src: url('../font/Anders.woff') format('woff'), url('../font/Anders.ttf') format('ttf');
}

.logo {
  max-height: 50px;
}

.cactus {
  margin-left: -1px;
}

.logo svg {
  max-height: 50px;
  font-family: 'Anders';
}

.logo text {
  dominant-baseline: middle;
  text-anchor: left; 
}

.tagline span {
  -webkit-text-fill-color: config('colors.green');
}

.cta_course a {
  width: 360px;
  height: 66px;
}

.cta_course input {
  width: 360px;
  height: 66px;
  margin-right: -5px;
}

.cta_course button {
  height: 66px;
}


/* Homepage / explainer
=============================================================== */

.rad {
  display: block;
  background: linear-gradient(to bottom left, config('colors.green') -40%, transparent 50%), linear-gradient(to bottom right, config('colors.purple'), config('colors.orange'));
  position: absolute;
}

.rad-what {
  width: 800px;
  height: 700px;
  z-index: -1;
  border-radius: 94% 40% 45% 81% / 97% 82% 48% 41%;
  left: -600px;
  top: 50%;
  transform: translateY(-50%);
}

.rad-what:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, transparent -20%, #f8fafc 95%);
}

h2, p {
  mix-blend-mode: multiply;
}

/* Homepage / clients
=============================================================== */

.client {
  @apply max-w-xs ml-8 mr-8 mb-12;
  max-height: 50px;
  filter: grayscale(1) brightness(0.5);
}

.client-ibm {
  max-height: 40px;
} 

.client-autodesk {
  max-height: 40px;
}

.client-redhat {
  height: 50px;
}

.client-ssdnodes {
  filter: grayscale(1) brightness(0.3);
}

.client-imgsrvr {
  filter: invert(1);
}

.client-opentext {
  max-height: 34px;
}

.client-logicgate {
  max-height: 38px;
}

/* Homepage / longform
=============================================================== */

.headshot img {
  border-radius: 44% 100% 84% 64% / 90% 63% 85% 55%;
  position: relative;
}

.headshot:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom left, config('colors.green') -40%, transparent 50%), linear-gradient(to bottom right, config('colors.purple'), config('colors.orange'));  border-radius: 44% 100% 84% 64% / 90% 63% 85% 55%;
  top: 0;
  opacity: 0.05;
  z-index: -1;
  transform: scale(2);
}

/* Homepage / latest blog section
=============================================================== */

.blog_latest {
  min-height: 20rem;
}

.blog_latest a < div {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  min-height: 20rem;
}

.blog_latest:first-of-type a < div {
  border-radius: 32% 68% 47% 53% / 47% 22% 78% 53%;
}

.blog_latest:nth-of-type(2) a < div {
  border-radius: 74% 26% 68% 32% / 26% 63% 37% 74%;
}

.blog_latest:nth-of-type(3) a < div {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.blog_latest a:hover < div {
  filter: grayscale(1);
  border-radius: 40% 60%;
}

/* Homepage / process
=============================================================== */

.rad-process {
  width: 800px;
  height: 700px;
  z-index: -1;
  border-radius: 94% 40% 45% 81% / 97% 82% 48% 41%;
  right: -600px;
  top: 50%;
  transform: translateY(-50%);
}

.rad-process:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to left, transparent -20%, #f8fafc 95%);
}

/* Blog / single post
=============================================================== */

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  @apply leading-normal mt-10 mb-6;
}

.content > *:first-of-type {
  @apply mt-0;
}

.content p, .content ul, .content ol {
  @apply text-lg leading-normal mb-6;
}

/* Blog / single post / storytelling sidebar
=============================================================== */

@screen md {
  .sidebar_storytelling {
    top: 0%;
  }
}

@screen lg {
  .sidebar_storytelling {
    top: 50%;
  }
}

/* Footer
=============================================================== */

.logo-footer {
  width: 2rem;
}