/* ===============================================================
== 
== NURSE MEDIA
==
=============================================================== */

/* Imports
=============================================================== */

/* Utilities (tailwind, fonts, grids, standards */

@import "utility/_font";
@import "utility/_rad";
@import "utility/_structure";
@import "utility/_tailwind";

/* Other structure */
@import "partials/_nav";
@import "partials/_footer";
@import "partials/_quotes";

/* Specific pages */
@import "pages/_homepage";
@import "pages/_about";
@import "pages/_services";
@import "pages/_contact";

/* Custom utilities
=============================================================== */

a, .button {
  transition: 0.3s all ease;
  @apply no-underline;
}

.button {
  @apply inline-block rounded-sm;
}

/* Other customizations/standards
=============================================================== */

body {
  overflow-x: hidden;
}

.text-grad {
  background: linear-gradient(to bottom right, config('colors.orange'), config('colors.purple'));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-grad-pink {
  background: linear-gradient(to bottom right, config('colors.orange'), config('colors.pink'));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2, p {
  mix-blend-mode: multiply;
}

.mix-none {
  mix-blend-mode: normal;
}

/* Homepage
=============================================================== */

.tagline span {
  -webkit-text-fill-color: config('colors.green');
}

.cta_course a {
  width: 326px;
  height: 66px;
}

@screen lg {
  .cta_course a {
    width: 360px;
  }
}

.course_input input[type=email] {
  width: 326px;
  height: 66px;
}

@screen lg {
  .course_input input[type=email] {
    width: 360px;
  }
}

.course_input input[type=submit] {
  height: 66px;
}

/* Homepage / hero
=============================================================== */

/* #intro {
  overflow-y: hidden;
}

.me {
  top: -100px;
} */

/* Homepage / Hi, I'm Joel
=============================================================== */

/* #hi {
  background: linear-gradient(to top right, config(colors.purple) 40%, config(colors.orange) 120%);
} */

/* #hi svg {
  width: 64px;
  height: 64px;
} */



/* Homepage / People fall in love...
=============================================================== */

/* #love .columns {
  background: linear-gradient(to top right, config(colors.purple) 40%, config(colors.orange) 120%);
} */



/* Homepage / clients
=============================================================== */



/* Homepage / longform
=============================================================== */

.headshot img {
  position: relative;
  border-radius: 44% 100% 84% 64% / 90% 63% 85% 55%;
}

.headshot:after {
  position: absolute;
  z-index: -1;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom left, config('colors.green') -40%, transparent 50%), linear-gradient(to bottom right, config('colors.purple'), config('colors.orange'));  border-radius: 44% 100% 84% 64% / 90% 63% 85% 55%;
  content: '';
  opacity: 0.05;
  transform: scale(2);
}

/* Homepage / process
=============================================================== */

.rad-process {
  z-index: -1;
  top: 50%;
  right: -600px;
  width: 800px;
  height: 700px;
  border-radius: 94% 40% 45% 81% / 97% 82% 48% 41%;
  transform: translateY(-50%);
}

.rad-process:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, transparent -20%, #f8fafc 95%);
  content: '';
}

/* Blog / single post
=============================================================== */

.h-xl {
  & h2 {
    @apply text-3xl text-pink font-display mt-12 mb-6;
    
    @screen lg {
      @apply text-4xl;
    }
  }

  & h3 {
    @apply text-2xl text-green font-display mt-4 mb-6;
    
    @screen lg {
      @apply text-3xl;
    }
  }
}

.p-xl p {
  @apply text-lg leading-normal mb-6;

  @screen lg {
    @apply text-xl;
  }
}

.p-xl p:last-of-type {
  @apply mb-0;
}

.content .hero {
  @apply text-grad text-4xl font-display leading-none mt-0;

  @screen md {
    @apply text-5xl;
  }

  @screen lg {
    @apply text-6xl;
  }
}

.content h2,
.content h3,
.content h4,
.content h5 {
  @apply leading-tight mt-12 mb-6;
}

.content h2 {
  @apply text-2xl text-purple font-display leading-tighter mb-6;

  @screen lg {
    @apply text-3xl;
  }
}


.content h3 {
  @apply text-xl text-pink font-display leading-tighter mb-6;

  @screen lg {
    @apply text-2xl;
  }
}

.content:first-child {
  @apply mt-0;
}

.content p, .content ul, .content ol {
  @apply text-lg leading-normal mb-4;

  @screen lg {
    @apply text-xl mb-6;
  }
}

.content p.-big {
  @apply text-xl;
}

.content a:not(.button) {
  @apply relative text-purple font-bold;
}

.content a:not(.button)::after {
  content: '';
  width: 100%;
  background: config(colors.purple);
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: 0.3s all ease;
  @apply rounded-sm;
}

.content a:not(.button):hover {
  @apply text-green;
}

.content a:not(.button):hover::after {
  background: config(colors.green);
}

.content blockquote {
  @apply relative;
}

.content blockquote p {
  @apply text-3xl text-green font-bold leading-tight mb-6;
}

.content blockquote:before {
  position: absolute;
  top: 2px;
  left: -18px;
  content: open-quote;
  @apply text-3xl text-green font-bold;
}

.content hr {
  @apply border-grey-light border-t-2 mt-12 mb-12;
}

.content code {
  font-size: 0.9rem;
  font-weight: 700;
}

.content div.form-mc + p {
  @apply mt-4;
}

/* Blog / single post / storytelling sidebar
=============================================================== */

.sidebar_storytelling {
  top: 0%;
  @apply relative;
}

@screen lg {
  .sidebar_storytelling {
    top: 50%;
    @apply absolute;
  }
}

/* Footer
=============================================================== */

.logo-footer {
  width: 2rem;
}

/* Mailchimp subscribe
=============================================================== */

.form-input,
.form-submit {
  height: 66px;
  @apply inline-block font-bold p-6;
}

.form-input {
  box-shadow: none;
  @apply text-grey-dark border border-grey;
}

.form-submit {
  @apply text-white cursor-pointer;
}

.form-input.form-vertical {
  @apply mb-4;
}

.form-input.form-horizontal {
  @apply border rounded-sm; 
}

@screen md {
  .form-input.form-horizontal {
    @apply border-r-0 rounded-r-none;
  }
}

.form-submit.form-horizontal {
  @apply rounded-l-none;
}

.form-input.form-borderless {
  @apply border-0;
}

.button-orange {
  @apply bg-orange;
}

.button-orange:hover {
  @apply bg-green;
}

.button-purple {
  @apply bg-purple;
}

.button-purple:hover {
  @apply bg-pink;
}

.mc-status.success-message {
  @apply block text-green bg-green-lightest;
}

.mc-status.error-message {
  @apply block text-red bg-red-lightest;
}

.mc-status.error-message a {
  @apply text-purple;
}

.mc-status.error-message a:hover {
  @apply text-pink;
}


.crisp-client .crisp-1rjpbb7 .crisp-1rf4xdh .crisp-kquevr .crisp-x94m06 {
  background-color: config(colors.green) !important;
}