/////////////////////////////////
// ABOUT PAGE
/////////////////////////////////

main#about
  background: white

// header image

.about__image
  margin: 0
  max-width: 100%

// description + logo

.about__desc
  align-self: center
  margin-bottom: 16rem

.about__desc p:last-of-type
  margin-bottom: 0

.about__logo
  align-self: center
  margin-bottom: 16rem

.about__logo img
  height: 100%

// services

.about__services
  display: flex
  flex-flow: row wrap
  justify-content: center
  margin-bottom: 16rem

.about__services .col--6
  padding-top: 0.6rem

.about__services .col--6:nth-of-type(1)
  margin-bottom: 4rem

.about__services .col--6:nth-of-type(2n-1)
  margin-right: gutter()

.about__services .col--6:nth-of-type(2n)
  margin-right: 0
  margin-left: auto

.about__services ul
  list-style-type: none
  margin: 0
  padding: 0

// image breaker

figure
  margin: 0 0 16rem 0

figure img
  max-width: 100%

// clients

.about__clients
  display: flex
  flex-flow: row wrap
  justify-content: center
  margin-top: -2rem
  margin-left: auto
  margin-bottom: 16rem

.about__client
  width: 22%
  margin-right: 10%
  &:nth-of-type(3n)
    margin-right: 0

.about__client img
  width: 100%
  max-width: 100%

// who

.about__headshot
  padding-top: 2rem

.about__headshot img
  max-width: 100%

.about__bio
  padding-top: 1.8rem

.about__bio ul
  list-style-type: none
  margin-top: 4rem
  padding: 0

.about__bio ul li
  +fontmake($family: 'Quicksand', $weight: 500, $margin: 0.5)

.social--icon
  display: inline-block
  margin-bottom: 0

.social--icon svg
  max-width: 100%
  width: 32px

.about__bio figure
  margin-bottom: 0rem
