/////////////////////////////////
// HOME PAGE
/////////////////////////////////

#home .grid
  align-items: center
  padding-top: inherit
  padding-bottom: inherit

.front__hero h1
  color: $d-blue

.front__logo img
  display: block
  width: 165px
  @media (min-width: 0em) and (max-width: 45em)
    margin: 0 auto


// header
//   position: relative
//   min-height: 940px
//   background: white
//   background: url('../images/lightning.png')
//   background-size: 2000px auto
//   background-position: 50% -260px
//   @media (max-width: 45em)
//     background-position: 55% -260px
//


// /////////////////////////////////
// // HEADER__HERO
// /////////////////////////////////
// .header__hero
//   +fontmake($family: 'Overpass', $size: 3, $line: 7)
//   color: $yellow
//   @media (min-width: 0em) and (max-width: 80em)
//     +fontmake($family: 'Overpass', $size: 2.4, $line: 5)
//   @media (min-width: 0em) and (max-width: 45em)
//     margin-top: 4rem
//
// /////////////////////////////////
// // NAVIGATION
// /////////////////////////////////
// nav
//   margin-right: auto
//   padding: 4rem
//   background-color: $orange
//
// nav a
//   display: block
//   +fontmake($family: 'Quicksand', $size: 1.2, $weight: 700, $margin: 0)
//   color: white
//
//   &:hover
//     color: $purple
