/////////////////////////////////
// HOME PAGE
/////////////////////////////////

.svg__logo
  display: block
  margin: 100px auto
  width: 500px

  path
    animation: 12s trace forwards
    fill: #fff
    stroke: #fff
    stroke-dasharray: 400
    // stroke-miterlimit: 10
    stroke-width: 2px
    stroke-linecap: round

@keyframes trace
  0%
    stroke-dashoffset: 400
    fill: #fff
  25%
    stroke: $orange
    fill: #fff
  36%
    stroke: $orange
    fill: #fff
  41%
    stroke: $orange
    fill: transparentize($orange, 0.8)
  46%
    stroke: $orange
    fill: #fff
  100%
    stroke: $orange
    stroke-dashoffset: 0
    fill: #fff

main#home
  background: white

.front__logo
  display: none
  margin-left: auto
  transform: translateY(-10%)

.front__logo img
  display: block
  width: 165px
  @media (min-width: 0em) and (max-width: 45em)
    margin: 0 auto

/////////////////////////////////
// FEATURED ITEMS
/////////////////////////////////

.front__featured
  display: flex
  flex-direction: row
  justify-content: center
  margin: 0
  padding: 0
  list-style-type: none

.featured__item
  position: relative
  min-height: 400px
  background: $d-blue
  margin-bottom: gutter() + .5%

.featured__item figure
  overflow: hidden

.featured__item figure img
  display: block
  width: 100%

/////////////////////////////////
// WORK AREA
/////////////////////////////////

.client
  position: relative
  min-height: 400px
  padding: 2rem
  margin-bottom: gutter() + .5%
  color: white
  background: $d-blue
  transform: translateZ(0)
  perspective: 1000
  transition: color 0.3s ease-in-out
  display: flex
  flex-direction: column
  justify-content: center

.client__name
   align-self: flex-start
   margin-bottom: 2rem

.client__name h1
  +fontmake ($size: 2, $weight: 800, $margin: 0)
  margin-top: 0

.client__meta
  +fontmake ($size: 0.7, $weight: 300, $margin: 0)
  color: white
  text-transform: uppercase
  order: 99
  margin-top: auto
  span
    display: block

.client__content
  margin-top: 0.4rem
