{{ define "title" -}}
  {{ .Title }} | Nurse
{{- end }}
{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="columns items-end">

      <div class="column md:w-2/3">

        <h1 class="text-4xl lg:text-5xl text-grad font-display leading-tighter">See examples of how nurtured copy and content has helped tech brands stand out and start growing.</h1>
      
      </div>
    </div>
  </div>
</section>

<section id="ssd-nodes" class="section bg-grey-lightest">
  <div class="container">
    <div class="columns">

      <div class="content column md:w-3/5 mb-12 md:mb-0">

        <h2 class="text-3xl lg:text-4xl text-orange font-display leading-tighter mb-4">Doubling Black Friday sales with a conversion-focused new product landing page</h2>
        <h3 class="text-xl text-purple mb-8">Client: SSD Nodes</h3>
        <p class="text-xl leading-normal mb-6">This virtual private server (VPS) hosting company has two <em>really</em> essential days every year. Black Friday and Cyber Monday.</p>
        <p class="text-xl leading-normal mb-6">In 2018, they decided to up the ante by launching a <span class="text-orange font-bold">new</span> product on the busiest (and riskiest) day on the calendar. They needed a killer deal and a unique landing page to bring home sales.</p>
        <p class="text-xl leading-normal mb-6">I've worked with SSD Nodes for years, so I quickly got to work using previous research and an in-depth understanding of their customer base. I researched the new product's technical prowess and wrote copy that translates jargon into simple language that helps visitors see a future in which they're getting real value from a faster, better version of the product they already love.</p>
        <p class="text-xl leading-normal mb-6"><span class="text-orange font-bold">The results? We more than doubled sales compared to the previous year.</span> Talking about pulling through in the clutch.</p>
        <a class="button inline-block text-lg lg:text-xl font-bold text-white bg-orange p-4 hover:bg-green" href="https://www.ssdnodes.com/black-friday-10x/">View the landing page</a>

      </div>
      <div class="column md:w-2/5">

        <img class="mb-6 border-2 border-pink rounded" src="/img/work/work_ssd-nodes-01.png" alt="A screenshot of the SSD Nodes 10X landing page." longdesc="Text reads: '10X faster page loads than DigitalOcean. Introducing 10X KVM, powered by NVMe. 10X is our next-generation VPS, and it's powered by deep integration with NVMe disks. Get blazing fast page loads, unheard of read/write speeds, and disk performance that's 10X faster than DigitalOcean. This weekend only, get your own 10X KVM server with NVMe for 75% less than a standard SSD VPS from DigitalOcean or another one of our competitors.'" />
        <img class="border-2 border-pink rounded" src="/img/work/work_ssd-nodes-02.png" alt="Text and a table displaying the savings for switching to SSD Nodes" longdesc="Text reads: 'We've helped our customers save millions on hosting costs already, and we're not stopping with 10X KVM, powered by NVMe.'" />
        
      </div>

    </div>
  </div>
</section>

<section id="img-srvr" class="section bg-grey-lighter">
  <div class="container">
    <div class="columns">

      <div class="content column md:w-3/5 mb-12 md:mb-0">

        <h2 class="text-3xl lg:text-4xl text-orange font-display leading-tighter mb-4">Launching a SaaS business with a bold story: there's a better way for PR pros to pitch journalists</h2>
        <h3 class="text-xl text-purple mb-8">Client: IMG SRVR</h3>
        <p class="text-xl leading-normal mb-6">IMG SRVR is Detroit, Mich.-based SaaS startup, founded by professionals in PR and marketing for the arts. They experienced their own difficulties in staying accountable to clients while maintaining positive relationships with key journalists on the arts beat. They understood the desperate need for an all-in-one media center that helped PR pros deliver pitches with streamlined assets and no hassle. That actually made a journalist's job easier.</p>
        <p class="text-xl leading-normal mb-6">I worked with the founder and his team to develop new taglines and revise existing copywriting to be more active and impactful. I helped the IMG SRVR team realize the real value of their product was not in its features, but rather how it would help PR pros create a better experience for journalists. After launch, I wrote a welcome email sequence and all the usual transactional emails.</p>
        <a class="button inline-block text-lg lg:text-xl font-bold text-white bg-orange p-4 hover:bg-green" href="https://imgsrvr.net/">See our bold branding</a>

      </div>
      <div class="column md:w-2/5">

        <img class="mb-6 border-2 border-pink rounded" src="/img/work/work_img-srvr-01.png" alt="A screenshot of the IMG SRVR homepage" longdesc="A screenshot of the IMG SRVR homepage reading: 'Impress clients, delight journalists. IMG SRVR is an all-in-one visual media center for PR pros – designed to help you collect, organize, and share images with journalists.'" />
        <img class="mb-6 border-2 border-pink rounded" src="/img/work/work_img-srvr-02.png" alt="A screenshot of the IMG SRVR homepage" longdesc="A screenshot of the IMG SRVR homepage reading: 'Pitching journalists shouldn't be complicated. We designed our media center to be both practical and beautiful by presenting images in their full context and in stunning high-resolution. IMG SRVR is our stress-free file-sharing solution for PRs.'" />
        <img class="border-2 border-pink rounded" src="/img/work/work_img-srvr-03.png" alt="A screenshot of the IMG SRVR homepage" longdesc="A screenshot of the IMG SRVR homepage reading: 'Dedicated captions for every image No more wasting time on caption sheets and frustrating correction requests. IMG SRVR automatically generates a caption sheet with every download, ensuring journalists always have the most up-to-date information.'" />

      </div>

    </div>
  </div>
</section>

<section id="ibm-streams" class="section bg-grey-lightest">
  <div class="container">
    <div class="columns">

      <div class="content column md:w-3/5 mb-12 md:mb-0">

        <h2 class="text-3xl lg:text-4xl text-orange font-display leading-tighter mb-4">Promoting a tech giant's analytics breakthrough via targeted, nurtured content</h2>
        <h3 class="text-xl text-purple mb-8">Client: IBM Streams</h3>
        <p class="text-xl leading-normal mb-6">The folks behind IBM's streaming analytics division had an incredible, Forrester-recommended product and happy clients like Verizon. They still felt like their marketing efforts were lacking—they needed to tell more CTOs and data science professionals about their products remarkable real-time capabilities.</p>
        <p class="text-xl leading-normal mb-6">They brought me onboard to create a comprehensive eBook targeting one of their biggest verticals: call centers. I engaged with product heads and engineers to discover the product's most valuable features so that I could present readers with a vision of their future *with* IBM Stream Computing in their pipeline.</p>
        <p class="text-xl leading-normal mb-6">We even got Verizon to cough up information about how streaming analytics was making call centers a pleasurable experience again. Incredible.</p>
        <a class="button inline-block text-lg lg:text-xl font-bold text-white bg-orange p-4 hover:bg-green" href="https://532386f9a72d1dd857a8-41058da2837557ec5bfc3b00e1f6cf43.ssl.cf5.rackcdn.com/wp-content/uploads/2019/01/IBM-RTIeBookcallcenter.pdf">Read the eBook</a>

      </div>
      <div class="column md:w-2/5">

        <img class="mb-6 border-2 border-pink rounded" src="/img/work/work_ibm-streams-01.png" alt="The first page of the IBM Streams ebook" />
        <img class="border-2 border-pink rounded" src="/img/work/work_ibm-streams-02.png" alt="A sample graphic from the IBM streams ebook" />
        
      </div>

    </div>
  </div>
</section>

{{ end }}