
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh">

    <title>{{ with .Title }}{{ . }}{{ end }} | {{ .Site.Title }}</title>

    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}

    {{ if .Site.Params.favicon }}
    <link rel="shortcut icon" href="/{{ .Site.Params.favicon }}" type="image/x-icon" />
    {{ end }}

    <link rel="stylesheet" href="/css/main.css" />
    
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <meta name="google-site-verification" content="tGL7YijvzOLk_k93RcYAzN1SOSsZbxpailEW7Av2yK4" />

  </head>
  <body class="text-base font-sans bg-white">

  {{ partial "header.html" . }}

  <main>
    
    {{ block "main" . }}{{ end }}

  </main>

  {{ partial "footer.html" . }}

  <script src="/js/main.js"></script>

  {{/* Disable Google Analytics on localhost */}}
  {{ if ne (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
  {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
  
  </body>
</html>