
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>

    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}

    {{ if .Site.Params.favicon }}
      <link rel="shortcut icon" href="/{{ .Site.Params.favicon }}" type="image/x-icon" />
    {{ end }}

    <link rel="stylesheet" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:700|Karla:400,400i,700" rel="stylesheet">  
    
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

  </head>
  <body class="text-grey-darkest font-sans bg-grey-lightest">

  {{ partial "header.html" . }}

  <main>
    
    {{ block "main" . }}{{ end }}

  </main>

  {{ partial "footer.html" . }}

  <script src="/js/main.js"></script>

  {{ template "_internal/google_analytics_async.html" . }}
  
  </body>
</html>