{{ define "title" -}}
  {{ .Title }} | Nurse
{{- end }}
{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="columns items-end">

      <div class="content column md:w-2/3 mb-12 lg:mb-0">

        <h1 class="text-4xl lg:text-5xl text-grad font-display leading-tighter pb-8">Nurtured copy is more than pretty-sounding words.</h1>
        <p>I've seen too many smart businesses with great products idling because their copy and content isn't impactful.</p>
        <p>Most of my clients are looking for a custom-built package of nurtured copy or content. Here are just a few of the ways I can help:</p>
        <ul>
          <li class="mb-2">Audits of existing web copy</li>
          <li class="mb-2">Copywriting of new sites or landing pages</li>
          <li class="mb-2">Customer research, including surveys and heatmaps</li>
          <li class="mb-2">Content marketing strategy, including every written asset you'll need to inspire visitors and turn them into customers</li>
          <li class="mb-2">Email campaigns for onboarding, retention, and more</li>
          <li class="mb-2">A/B testing for incremental-but-essential improvement</li>
          <li class="mb-2">And more...</li>
        </ul>
        <p class="mb-0"><a class="text-orange hover:text-purple font-bold" href="/contact/">Tell me about your project</a> and I'll get you a precise quote that clearly explains not only what I'll do for you. More importantly, it will also detail how nurtured copy will get your business growing.</p>

      </div>
      <div class="column md:w-1/3">
        <div class="p-4 border-2 border-orange rounded-sm">

          <p class="text-lg mb-4">See some of my previous work:</p>
          <p class="text-lg mb-4"><a class="text-purple hover:text-orange font-bold" href="/work/#ssd-nodes">Landing page for 2X sales</a></p>
          <p class="text-lg mb-4"><a class="text-purple hover:text-orange font-bold" href="/work/#img-srvr">Bold branding for SaaS app</a></p>
          <p class="text-lg"><a class="text-purple hover:text-orange font-bold" href="/work/#ibm-streams">Creating clarity around IBM Streams</a></p>

        </div>
      </div>
      <div class="column md:w-2/3 mt-40">

        <h2 class="text-3xl lg:text-4xl text-purple font-display leading-tighter mb-6">Want to get started right away? Looking for more definition?</h2>
        <h3 class="text-xl lg:text-2xl text-green font-display font-normal">I offer three packages with transparent prices and specific deliverables for both recurring and one-off projects.</h3>

      </div>
    </div>
  </div>
</section>

<section id="packages" class="section">
  <div class="container">
    <div class="columns mb-32 bg-white py-12 rounded-sm">

      <div class="column">

        <h2 class="text-3xl lg:text-4xl text-orange font-display leading-tighter mb-8">Get the content-driven growth engine your business deserves</h2>

      </div>
      <div class="content column lg:w-1/2">

        <p>I helped SSD Nodes grow its blog by <span class="text-pink font-bold">3194.12% in just eight months</span>.</p>
        <figure class="border border-orange mb-6 px-4 py-6">
          <img class="rounded-sm" src="/img/work/work_growth_ssdnodes2.png" alt="A graph of the SSD Nodes blog growth" />
          <figcaption class="text-xs text-purple font-bold uppercase border-t-2 border-purple mt-2 pt-2">An example of what's possible with nurtured content and a smart growth strategy.</figcaption>
        </figure>
        <p>Think about what that would do for your business. More leads for your website to convert. More love for your brand. More being at the tip of your industry's tongue.</p>

      </div>
      <div class="content column lg:w-1/2">

        <p>If you want nurtured content, you want it consistently, and you don't want to think about it for a second, this is the growth engine you need.</p>
        <p>I'll build your content marketing engine, including:</p>
        <ul>
          <li class="mb-2">Regular strategy sessions to get us on the same page</li>
          <li class="mb-2">Weekly long-form posts that are both educational <em>and</em> SEO-optimized</li>
          <li class="mb-2">Newsletter copy to accompany every new post</li>
          <li class="mb-2">Monthly lead magnets to capture leads</li>
          <li>Social media posts for every post to boost engagement</li>
        </ul>
        <p class="text-purple font-bold mb-0">Starting at $1997/mo.</p>

      </div>
      <div class="column text-center mt-6">

        <a class="button inline-block text-lg lg:text-xl font-bold text-white bg-orange p-4 hover:bg-green" href="/contact/">Tell me about your content needs</a>

      </div>

    </div>
    <div class="columns bg-white rounded-sm mb-32 py-12">

      <div class="column">

        <h2 class="text-3xl lg:text-4xl text-orange font-display leading-tighter mb-8">Need copy tomorrow?</h2>

      </div>
      <div class="content column lg:w-1/2">

        <p>You're about to launch a new product. Or ship a new feature. Or you know your copy is off, you're missing out on valuable conversions, and you need more impactful copywriting <em>yesterday</em>?</p>
        <p>I can't change the past, but I can craft nurtured copy for your business in less than 24 hours.</p>

      </div>
      <div class="content column lg:w-1/2">

        <p>In that time, I'll write fresh copy for up to 5 pages on your website, new company bios/descriptions for social media or listings sites, and a copy strategy document that will help you round out your company's story well into the future.</p>
        <p class="mb-0"><span class="text-purple font-bold">Engagements start at $1497.</span> I am currently <span class="text-orange font-bold">available</span> for these 24-hour copy projects.</p>

      </div>
      <div class="column text-center mt-6">

        <a class="button inline-block text-lg lg:text-xl font-bold text-white bg-orange p-4 hover:bg-green" href="/contact/">Book me now ⚡</a>

      </div>

    </div>
    <div class="columns bg-white rounded-sm py-12">

      <div class="column">

        <h2 class="text-3xl lg:text-4xl text-orange font-display leading-tighter mb-8">The fastest pathway to a website with nurtured copy: a video audit</h2>

      </div>
      <div class="content column lg:w-1/2">
        
        <p>Feel like you have a solid copywriting foundation, but aren't quite getting the conversion rates or quality leads you need?</p>
        <p>A video audit will put you on the right track. I'll audit up to 10 pages on your website during a 10-15 minute video recording where I examine your copy with fresh eyes.</p>
        <p>Audits will give you constructive criticism and offer a step-by-step path for clarifying your business' story and messaging.

      </div>
      <div class="content column lg:w-1/2">
        
        <p>I'll even throw in recommendations on user experience, web design, and brand trust.</p>
        <p>You'll then be able to follow up and ask questions on an open-ended 20-minute call that's all about getting you the most value.</p>
        <p class="text-purple font-bold">Video audits start at $397.</p>

      </div>
      <div class="column text-center mt-6">

        <a class="button inline-block text-lg lg:text-xl font-bold text-white bg-orange p-4 hover:bg-green" href="/contact/">Request a video audit</a>

      </div>

    </div>
  </div>
</section>


<section class="section bg-grey-lightest">
  <div class="container">
    <div class="columns">

      <div class="column md:w-2/3">

        <p class="text-xl leading-normal mb-6">For custom packages (my most common engagement) or other questions, please fill out my <a class="text-orange hover:text-purple font-bold" href="/contact/">contact form</a> and I'll get back to you within 24 hours.</p>
        <p class="text-xl leading-normal">Learn about the <a class="text-orange hover:text-purple font-bold" href="/services/">full range of services</a> I offer.</p>
        
      </div>

    </div>
  </div>
</section>

{{ end }}