{{ define "title" -}}
  {{ .Title }} | Nurse
{{- end }}
{{ define "main" }}

<div class="section">
  <div class="container">
    <div class="columns">

      <div class="column md:w-2/3">

        <h1 class="text-4xl lg:text-5xl text-grad font-display leading-tighter pb-8">Hi, I'm Joel. I'm a storyteller.</h1>
        <p class="text-xl lg:text-2xl leading-tight">But I'm a lot of other things, too. I'm a father, creative writer, mountain biker, and lover of the desert who's been writing for a living since 2009. Let's drop in.</p>

      </div>

    </div>
  </div>
</div>

<div class="about-drop relative">
  <img src="/img/joel_bike_02.jpg" alt="" />
  <p class="z-10 absolute text-2xl text-display text-white bg-orange p-6 mix-none">This looked way steeper in person.</p>
</div>

<section id="story" class="section bg-grey-lightest">
  <div class="container z-10">
    <div class="columns">

      <div class="column lg:w-2/3 p-xl h-xl">

        <p><strong>I'm a full-time copywriting and content consultant</strong> in Tucson, Arizona who has worked with clients like IBM, Red Hat, and Autodesk.</p>
        <p><strong>I've been writing professionally for ten years</strong>.</p>
        <p><strong>I have a Masters (MFA) in creative writing</strong> from the University of Arizona. You'd better believe I'm using all the skills I learned there to write more impactful copy that's backed by the way real people react to storytelling.</p>
        <p><strong>I've published dozens of short stories</strong> at some prestigious magazines. Read a personal favorite of mine <a class="font-bold text-purple hover:text-orange" href="http://www.bucknell.edu/west-branch-wired/joel-hans.html">here</a>. I even wrote a piece of fiction for some brilliant people at Johnson & Johnson! That was fun.</p>
        <h2>Let's go even deeper.</h2>
        <p>I've loved writing for as long as I can remember.</p>
        <p>hen I was a freshman at the University of Wisconsin - Madison, I wanted to register for an introductory creative writing course, only to discover it was typically reserved for sophomores or juniors.</p>
        <p>I was persistent. I didn't want to wait. The administrators asked me to prove I was good enough by submitting a writing sample.</p>
        <h3 class="text-xl lg:text-2xl text-green font-display mt-4 mb-6">I got in. I had proof there was value in my passion for writing.</h3>
        <p>After graduating, I landed a job as an editor for a trade publication for industrial maintenance professionals. Sounds thrilling, right?</p>
        <p>I wrote hundreds of stories, published thousands of newsletters, and toured dozens of manufacturing plants. I spoke to CEOs, grease-to-the-elbows maintenance gurus, and everyone in-between.</p>
        <p>I learned about the publishing world, but perhaps more importantly, I learned about how real businesses reached out to potential customers and talked about their products.</p>
        <h3 class="text-xl lg:text-2xl text-green font-display mt-4 mb-6">There, I realized the impact copywriting and content have on a business that wants to grow and sell more.</h3>
        <p>After five years as an editor, my wife was (finally!) graduating from veterinary school. I decided it was time to pursue a long-held dream of mine: an MFA in creative writing.</p>
        <p>After a dozen applications and plenty of nail-biting, the creative writing faculty at the University of Arizona accepted me into their program. My wife and I moved to Tucson and immediately fell in love with the Sonoran Desert.</p>
        <p>After graduating in 2016, I was faced with a choice: Go work in an office for someone else and use my writing talents every once in a while, or go work for businesses all around the world who need <em>more impactful copy right now</em>.</p>
        <p>The decision was easy.</p>
        <h3 class="text-xl lg:text-2xl text-green font-display mt-4 mb-6">In 2016, I launched Nurse to focus on storytelling-driven conversion copywriting.</h3>
        <p>After just a year, I landed clients at some of the highest-profile companies in the tech world. I also had my first child. Not a bad year, I'd say.</p>
        <div class="story_img-mabel w-1/3 rounded">
          <img class="rounded" src="/img/joel_mabel.jpg" alt="An picture of Joel and his daughter" />
        </div>
        <p>I've expanded my marketing know-how to include SEO, customer research, lead magnets, wireframing for conversion, paid advertisements, email automation, and even some front-end web development.</p>
        <p>But the core of my work is focused directly on growth through nurtured copywriting and proven content strategies.</p>
        <p>Or, to put it another way: <span class="text-orange font-bold">I help clients make a lot more money</span>.</p>
        <p>The feeling of being accepted into that creative writing class was good. Offering real value to businesses that want to grow? That's even better.</p>
        <p class="font-bold">Let's get results together. <a class="text-purple hover:text-orange" href="/process/">Learn about my process</a>, see <a class="text-purple hover:text-orange" href="/work/">my work</a>, or <a class="text-purple hover:text-orange" href="/contact/">get in touch</a>.</p>

      </div>
      
    </div>
  </div>
</section>

<div id="why-nurse" class="section">
  <div class="container">
    <div class="columns">
      <div class="column">

        <h2 class="relative w-full text-4xl lg:text-5xl text-orange font-display italic mb-16">Why Nurse? <span class="block text-lg lg:text-xl text-grey-dark font-normal roman mt-2 lg:ml-8">It's a name inspired by my favorite phenomenon of the brutally harsh and beautiful Sonoran Desert.</span></h2>

      </div>
    </div>
    <div class="columns">
      <div class="column lg:w-2/3 p-xl h-xl">
      
        <p>High elevation, 280-something days of intense sun every year, 110°F summers, an average of 12 inches of rain every year. The Sonoran Desert is a remarkably harsh place.</p>
        <p>Yet, the saguaro cactus thrives here. It's an iconic emoji, too! 🌵</p>
        <p>How do saguaros survive? Sadly, most don't. Only the seeds lucky enough to be deposited beneath the shade of a mature mesquite, ironwood, or palo verde trees have a chance.</p>
        <p>They prosper under the protection of their <span class="text-green font-bold">nurse tree</span>.</p>
        <p>Over the course of decades (saguaros are slow-growers), the cactus outgrows its nurse tree strengthens its south-facing skin enough to handle the brutal desert sun.</p>
        <h3 class="text-xl lg:text-2xl text-green font-display mt-4 mb-6">My mission is to help businesses from languishing in the sun with impactful copy and a irresistible story.</h3>
        <p class="text-xl leading-normal font-bold mb-6"><a class="text-orange hover:text-purple" href="/contact/">See what your nurtured business can really do. Let's talk.</a></p>

      </div>
    </div>
  </div>
</div>

{{ end }}