<footer id="footer" class="border-t-2 border-orange py-24">
  <div class="container">
    <div class="columns">

      <div class="column lg:w-1/3 mb-8 lg:mb-0">
      
        <h4 class="text-base uppercase mb-4">About Joel Hans & Nurse Media</h4>
        <p class="text-base leading-normal">I write growth-centric copy and content for tech businesses. I get my inspiration from the resiliency, determination, and companionship only found in the Sonoran desert.</p>
        
      </div>
      <div class="column lg:w-1/6 mb-8 lg:mb-0">
      
        <h4 class="text-base uppercase mb-4">Go:</h4>
        <a class="block text-orange mb-2 hover:text-green" href="/process/">Services</a>
        <a class="block text-orange mb-2 hover:text-green" href="/process/">Process</a>
        <a class="block text-orange mb-2 hover:text-green" href="/process/">About</a>
        <a class="block text-orange hover:text-green" href="/process/">Blog</a>
        
      </div>
      <div class="footer-contact column lg:w-1/4 mb-8 lg:mb-0">
      
        <h4 class="text-base uppercase mb-4">Contact</h4>
        <p class="text-base mb-2">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" stop-color="#f27370" /><stop offset="100%" stop-color="#442b75" /></linearGradient></defs><g data-name="Layer 47" id="Layer_47"><path d="M16,27a2.71,2.71,0,0,1-2-.9c-3.15-3.49-8.43-10-8.43-14.36A10.6,10.6,0,0,1,16,1,10.6,10.6,0,0,1,26.43,11.74c0,4.35-5.28,10.87-8.43,14.36A2.71,2.71,0,0,1,16,27ZM16,3a8.6,8.6,0,0,0-8.43,8.74c0,2.65,3,7.52,7.92,13a.69.69,0,0,0,1,0c5-5.51,7.92-10.38,7.92-13A8.6,8.6,0,0,0,16,3Z"/><path d="M16,16.71a5.29,5.29,0,1,1,5.29-5.28A5.3,5.3,0,0,1,16,16.71Zm0-8.57a3.29,3.29,0,1,0,3.29,3.29A3.3,3.3,0,0,0,16,8.14Z"/><path d="M20,31H12a5,5,0,0,1-5-5,1,1,0,0,1,2,0,3,3,0,0,0,3,3h8a3,3,0,0,0,3-3,1,1,0,0,1,2,0A5,5,0,0,1,20,31Z"/></g></svg>
          Based in Tucson, Arizona
        </p> 
        <p class="text-base mb-2">
          <a class="block text-orange hover:text-green" href="/contact/" target="_blank">
            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#101820;}</style></defs><g data-name="Layer 36" id="Layer_36"><path d="M26,29H2a1,1,0,0,1-1-1V8A2,2,0,0,1,3,6H29a2,2,0,0,1,2,2V24a1,1,0,0,1-.29.71l-4,4A1,1,0,0,1,26,29ZM3,27H25.59L29,23.59V8H3ZM29,8h0Z"/><rect height="3" width="2" x="15" y="4"/><rect height="3" width="2" x="6" y="4"/><rect height="3" width="2" x="24" y="4"/><path d="M30,14H2a1,1,0,0,1,0-2H30a1,1,0,0,1,0,2Z"/><path d="M13,24a1,1,0,0,1-1-1V18.62l-.55.27a1,1,0,0,1-.9-1.78l2-1A1,1,0,0,1,14,17v6A1,1,0,0,1,13,24Z"/><path d="M20,24H18a2,2,0,0,1-2-2V18a2,2,0,0,1,2-2h2a2,2,0,0,1,2,2v4A2,2,0,0,1,20,24Zm-2-6v4h2V18Z"/><polygon points="30 24 26 28 26 24 30 24"/><path d="M26,29a.84.84,0,0,1-.38-.08A1,1,0,0,1,25,28V24a1,1,0,0,1,1-1h4a1,1,0,0,1,.92.62,1,1,0,0,1-.21,1.09l-4,4A1,1,0,0,1,26,29Zm1-4v.59l.59-.59Z"/></g></svg>
            Get in touch
          </a>
        </p>
        <p class="text-base mb-2">
          <a class="text-orange hover:text-green" href="mailto:joel@nurse.media">
            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 16" id="Layer_16"><path d="M30,28H2a1,1,0,0,1-1-1V5A1,1,0,0,1,2,4H30a1,1,0,0,1,1,1V27A1,1,0,0,1,30,28ZM3,26H29V6H3Z"/><path d="M16,17.37a3,3,0,0,1-1.95-.73L1.35,5.76a1,1,0,1,1,1.3-1.52l12.7,10.89a1,1,0,0,0,1.3,0L29.35,4.24a1,1,0,1,1,1.3,1.52L18,16.64A3,3,0,0,1,16,17.37Z"/><rect height="2" transform="translate(-10.56 7.13) rotate(-33.69)" width="10.82" x="1.09" y="20"/><rect height="10.82" transform="translate(-6.12 30.57) rotate(-56.31)" width="2" x="24.5" y="15.59"/></g></svg>
            joel@nurse.media
          </a>
          </p>
        <p class="text-base">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 25" id="Layer_25"><path d="M24,22a1,1,0,0,1-.64-.23L18.84,18H17A8,8,0,0,1,17,2h6a8,8,0,0,1,2,15.74V21a1,1,0,0,1-.58.91A1,1,0,0,1,24,22ZM17,4a6,6,0,0,0,0,12h2.2a1,1,0,0,1,.64.23L23,18.86V16.92a1,1,0,0,1,.86-1A6,6,0,0,0,23,4Z"/><rect height="2" width="2" x="19" y="9"/><rect height="2" width="2" x="14" y="9"/><rect height="2" width="2" x="24" y="9"/><path d="M8,30a1,1,0,0,1-.42-.09A1,1,0,0,1,7,29V25.74a8,8,0,0,1-1.28-15,1,1,0,1,1,.82,1.82,6,6,0,0,0,1.6,11.4,1,1,0,0,1,.86,1v1.94l3.16-2.63A1,1,0,0,1,12.8,24H15a5.94,5.94,0,0,0,4.29-1.82,1,1,0,0,1,1.44,1.4A8,8,0,0,1,15,26H13.16L8.64,29.77A1,1,0,0,1,8,30Z"/></g></svg>
          608-443-8082
        </p>
                
      </div>
      <div class="column lg:w-1/4">
      
        <p class="text-xl font-bold mb-4">Nurse Media LLC</p>
        <p class="text-sm mb-2">&copy; 2019, Nurse Media. All rights reserved. Website by Joel Hans.</p>
        <svg class="logo-footer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 250 280">
          <defs>
            <linearGradient id="front-gradient" x1="0%" y1="0%" x2="50%" y2="100%" >
              <stop offset="0" stop-color="#ffc375">
                <animate attributeName="stop-color" values="#ffc375; #fe875d; #ffc375" dur="8s" repeatCount="indefinite"></animate>
              </stop>
              <stop offset="1" stop-color="#fe875d"></stop>
            </linearGradient>
            <linearGradient id="side-gradient" x1="20%" y1="0%" x2="40%" y2="100%" >
              <stop offset="0" stop-color="#fe875d"></stop>
              <stop offset="1" stop-color="#f24430"></stop>
            </linearGradient>
            <linearGradient id="top-gradient" x1="0%" y1="0%" x2="60%" y2="60%" gradientTransform="rotate(0)">
              <stop offset="0" stop-color="#ffc375"></stop>
              <stop offset="1" stop-color="#fe875d"></stop>
            </linearGradient>
          </defs>
          <g id="left">
            <path fill="url(#side-gradient)" d=" M 100 60 L 100 150 L 60 170 L 60 80 L 100 60 Z " fill="rgb(255,255,255)" vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round" />
            <path fill="url(#top-gradient)" d=" M 10 70 L 50 50 L 100 60 L 60 80 L 10 70 Z " fill="rgb(255,255,255)" vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round" />
          </g>
          <g id="main">
            <path fill="url(#side-gradient)" d=" M 170 20 L 170 250 L 130 270 L 130 40 L 170 20 Z " fill="rgb(255,255,255)" vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round" />
            <path fill="url(#top-gradient)" d=" M 80 30 L 120 10 L 170 20 L 130 40 L 80 30 Z " fill="rgb(255,255,255)" vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round" />
          </g>
          <g id="bridges">
            <path fill="url(#side-gradient)" d=" M 120 180 L 160 160 L 210 170 L 170 190 L 120 180 Z " fill="rgb(255,255,255)" vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round" />
            <path fill="url(#side-gradient)" d=" M 40 130 L 80 110 L 130 120 L 90 140 L 40 130 Z " fill="rgb(255,255,255)" vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round" />
          </g>
          <g id="right">
            <path fill="url(#side-gradient)" d=" M 240 110 L 240 220 L 200 240 L 200 130 L 240 110 Z " vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round"/>
            <path fill="url(#top-gradient)" d=" M 150 120 L 190 100 L 240 110 L 200 130 L 150 120 Z " vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round"/>
          </g>
          <g id="front">
            <path fill="url(#front-gradient)" d="M 80 124 L 80 30 L 130 40 L 130 176 L 150 180 L 150 120 L 200 130 L 200 190 L 200 239 L 200 240 L 130 226 L 130 270 L 80 260 L 80 174 L 10 160 L 10 70 L 60 80 L 60 120 L 80 124 Z" vector-effect="non-scaling-stroke" stroke-width="0.2" stroke="rgb(254,113,93)" stroke-linejoin="round" />
          </g>
        </svg>

      </div>
    </div>
  </div>
</footer>