<nav class="container mx-auto mt-12" role="navigation" aria-label="main navigation">
  <div class="columns items-center justify-between flex-wrap">

    <a class="column logo flex cursor-pointer" href="/">
    
      <svg class="cactus max-h-full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 250 280">
        <defs>
          <linearGradient id="front-gradient" x1="0%" y1="0%" x2="50%" y2="100%" >
            <stop offset="0" stop-color="#ffc375">
              <animate attributeName="stop-color" values="#ffc375; #fe875d; #ffc375" dur="8s" repeatCount="indefinite"></animate>
            </stop>
            <stop offset="1" stop-color="#fe875d"></stop>
          </linearGradient>
          <linearGradient id="side-gradient" x1="20%" y1="0%" x2="40%" y2="100%" >
            <stop offset="0" stop-color="#fe875d"></stop>
            <stop offset="1" stop-color="#f24430"></stop>
          </linearGradient>
          <linearGradient id="top-gradient" x1="0%" y1="0%" x2="60%" y2="60%" gradientTransform="rotate(0)">
            <stop offset="0" stop-color="#ffc375"></stop>
            <stop offset="1" stop-color="#fe875d"></stop>
          </linearGradient>
        </defs>
        <g id="left">
          <path fill="url(#side-gradient)" d=" M 100 60 L 100 150 L 60 170 L 60 80 L 100 60 Z " fill="rgb(255,255,255)" vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round" />
          <path fill="url(#top-gradient)" d=" M 10 70 L 50 50 L 100 60 L 60 80 L 10 70 Z " fill="rgb(255,255,255)" vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round" />
        </g>
        <g id="main">
          <path fill="url(#side-gradient)" d=" M 170 20 L 170 250 L 130 270 L 130 40 L 170 20 Z " fill="rgb(255,255,255)" vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round" />
          <path fill="url(#top-gradient)" d=" M 80 30 L 120 10 L 170 20 L 130 40 L 80 30 Z " fill="rgb(255,255,255)" vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round" />
        </g>
        <g id="bridges">
          <path fill="url(#side-gradient)" d=" M 120 180 L 160 160 L 210 170 L 170 190 L 120 180 Z " fill="rgb(255,255,255)" vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round" />
          <path fill="url(#side-gradient)" d=" M 40 130 L 80 110 L 130 120 L 90 140 L 40 130 Z " fill="rgb(255,255,255)" vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round" />
        </g>
        <g id="right">
          <path fill="url(#side-gradient)" d=" M 240 110 L 240 220 L 200 240 L 200 130 L 240 110 Z " vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round"/>
          <path fill="url(#top-gradient)" d=" M 150 120 L 190 100 L 240 110 L 200 130 L 150 120 Z " vector-effect="non-scaling-stroke" stroke-width="0.5" stroke="rgb(254,113,93)" stroke-linejoin="round"/>
        </g>
        <g id="front">
          <path fill="url(#front-gradient)" d="M 80 124 L 80 30 L 130 40 L 130 176 L 150 180 L 150 120 L 200 130 L 200 190 L 200 239 L 200 240 L 130 226 L 130 270 L 80 260 L 80 174 L 10 160 L 10 70 L 60 80 L 60 120 L 80 124 Z" vector-effect="non-scaling-stroke" stroke-width="0.2" stroke="rgb(254,113,93)" stroke-linejoin="round" />
        </g>
      </svg>
      <svg class="nurse text-5xl font-bold" xmlns="http://www.w3.org/2000/svg" width="230" height="50">
        <defs>
          <linearGradient id="a" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" stop-color="#f27370"></stop>
            <stop offset="160%" stop-color="#442b75"></stop>
          </linearGradient>
        </defs>
        <text x="0%" y="50%" fill="url(#a)">
          Nurse
        </text>
      </svg>
      
    </a>

    <div class="block pr-10 lg:hidden">
      <button class="nav_toggle flex items-center px-3 py-2 border rounded-sm text-purple border-purple hover:text-green hover:border-green">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
      </button>
    </div>

    <div class="nav_items hidden w-full block lg:flex flex-grow justify-end items-center px-10 lg:w-auto">
    
      <a class="block text-xl text-orange font-bold hover:text-pink mr-8 mt-6 lg:mt-0 lg:inline-block" href="#process">
        What Nurse does
      </a>
      <a class="block text-xl text-orange font-bold hover:text-pink mr-8 mt-4 lg:mt-0 lg:inline-block" href="#about">
        About
      </a>
      <a class="block text-xl text-orange font-bold hover:text-pink mr-8 mt-4 lg:mt-0 lg:inline-block" href="/blog/">
        Blog
      </a>
      <a class="button inline-block text-xl text-white font-bold bg-green mt-4 lg:mt-0 p-6 hover:bg-orange" href="https://calendly.com/nurse-media/introductions" target="_blank">Get in touch</a>
      
    </div>

  </div>
</nav>