{{ define "main" }}

<div id="intro" class="section border-t-0 pt-16 md:pt-32">
  <div class="container">
    <div class="columns">

      <div class="column md:w-3/4">

        <h1 class="text-grad text-4xl lg:text-6xl font-display text-orange leading-tighter pb-8">Sorry, that page is lost to the desert.</h1>
        <p class="text-xl lg:text-2xl leading-tight mb-8">Head to the <a class="text-green hover:text-orange" href="/">homepage</a> to get situated again.</p>
        <p class="text-xl lg:text-2xl leading-tight mb-8">Or, here's something great that <em>does</em> exist:</p>
        <p class="text-xl lg:text-2xl leading-tight">An in-depth guide to an <a class="text-green hover:text-orange" href="https://joelhans.com/articles/start-writing/">exercise that will help you start writing</a> no matter your experience level.</p>

      </div>
    
    </div>
  </div>
</div>

{{ end }}