{{ define "main" }}

<section id="intro" class="section">
  <div class="container">
    <div class="columns items-center">

      <div class="column lg:w-2/3 flex flex-wrap">

        <h1 class="tagline text-grad text-3xl md:text-4xl lg:text-5xl font-display leading-none pb-6">{{ .Params.header | safeHTML }}</h1>
        <h2 class="text-lg md:text-xl font-normal italic">{{ .Params.subhead | safeHTML }}</h2>

        <div class="w-full lg:w-4/5 xl:w-3/4 flex items-center flex-wrap justify-around md:justify-between self-center mt-8">

          <img class="client client-ibm" src="/img/brands/ibm.svg" alt="The IBM logo" />
          <img class="client client-jj" src="/img/brands/johnson-and-johnson.svg" alt="The Johnson & Johnson logo" />
          <img class="client client-autodesk" src="/img/brands/autodesk.svg" alt="The AutoDesk logo" />
          <img class="client client-redhat" src="/img/brands/redhat.svg" alt="The RedHat logo" />

        </div>

        <div class="lg:hidden w-4/5 sm:w-1/2 md:w-2/5 mx-auto mt-8 pl-0 md:pl-6 rounded">
          <img class="rounded" src="/img/joel_hans.jpg" alt="A picture of Joel Hans, tech copywriter in Tucson, Arizona" />
        </div>

      </div>
      <div class="hidden lg:block column w-full lg:w-1/3 rounded">
        <img class="rounded" src="/img/joel_hans.jpg" alt="A picture of Joel Hans, tech copywriter in Tucson, Arizona" />
      </div>

    </div>
  </div>
</section>

<section id="explainer" class="section bg-grey-lightest">
  <div class="container z-10">
    <div class="columns">

      <div class="explainer-text column content lg:w-3/5">

        <h2 class="text-3xl lg:text-4xl text-purple mt-0">Effortlessly grow your tech brand with nurtured copywriting and content.</h2>
        <p>Here in the Sonoran Desert, a young saguaro cactus can&#39;t grow without shade from a nurse tree. The climate is just too harsh.</p>
        <p>Tech businesses are no different.</p>
        <p>You&#39;re facing constant competition and disruptive thinking. Your website has to convince visitors in a matter of seconds.</p>
        <p>You can&#39;t afford complacency or a pitch that isn&#39;t precision-focused on getting users to fall in love with tomorrow—<em>when they&#39;re getting real, life-changing value from your product</em>.</p>
        <p class="font-bold">You can&#39;t afford to be like everyone else.</p>
        <h3 class="text-2xl lg:text-3xl text-pink font-display mt-4 mb-6">Smart people hire me to give them a helping hand with their conversion copywriting.</h3>
        <p>I root my strategy in exhaustive research that eliminates guesswork. And then I used deeply-resonant storytelling techniques that inspire <em>the right people</em> to take action.</p>
        <p>What do you get out of it? How about 2X conversion rates. Or calls to action that actually work. Or a website that inspires, not confuses. Or a brand that makes you stand out and grow.</p>
        <p>That&#39;s nurtured copy.</p>
        <p class="hidden md:block mb-0"><a href="mailto:joel@nurse.media">Email me</a>, <a href="/process/">learn about my process</a>, or <a href="/work/">see work I've already done</a>.</p>
        <p class="md:hidden mt-12 mb-0">
          <a class="text-xl inline-block w-full mb-6" href="mailto:joel@nurse.media">Email me</a>
          <a class="text-xl inline-block w-full mb-6" href="/process/">learn about my process</a>
          <a class="text-xl inline-block w-full" href="/work/">See work I've already done</a>
        </p>

      </div>
      
    </div>
  </div>

  <div class="explainer-saguaro ">
    <img class="" src="/img/saguaro.jpg" alt="A picture of a saguaro cactus" />
  </div>

</section>

<section id="work" class="section">
  <div class="container">
    <div class="columns">

      <div class="column text-center mb-12">

        <h2 class="text-4xl text-white font-display mix-none">Previous work:</h2>

      </div>
      <div class="column lg:w-1/3 mb-12 lg:mb-0">
        <a class="group block bg-white rounded" href="/work/#ssd-nodes">

          <img class="border-b border-purple rounded mb-4" src="/img/work/work_thumb_ssd-nodes.png" alt="">
          <h3 class="text-default text-base uppercase mb-4 px-4">SSD Nodes</h3>
          <p class="text-2xl text-purple font-display px-4 pb-6 group-hover:text-green">Doubling Black Friday sales with a conversion-focused new product landing page &rarr;</p>

        </a>
      </div>
      <div class="column lg:w-1/3 mb-12 lg:mb-0">
        <a class="group block bg-white rounded" href="/work/#img-srvr">

          <img class="border-b border-purple rounded mb-4" src="/img/work/work_thumb_img-srvr.png" alt="">
          <h3 class="text-default text-base uppercase mb-4 px-4">IMG SRVR</h3>
          <p class="text-2xl text-purple font-display px-4 pb-6 group-hover:text-green">Launching a SaaS business with a bold story: there's a better way for PR pros to pitch journalists &rarr;</p>

        </a>
      </div>
      <div class="column lg:w-1/3">
        <a class="group block bg-white rounded" href="/work/#ibm-streams">

          <img class="border-b border-purple rounded mb-4" src="/img/work/work_thumb_ibm.png" alt="">
          <h3 class="text-default text-base uppercase mb-4 px-4">IBM</h3>
          <p class="text-2xl text-purple font-display px-4 pb-6 group-hover:text-green">Promoting a tech giant's analytics breakthrough via targeted, nurtured content &rarr;</p>

        </a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="quote column lg:w-3/4 flex flex-wrap items-center mx-auto py-12 border-grad rounded">

        <div class="w-full md:w-3/5 lg:w-2/3 xl:w-3/4 pr-0 md:pr-6">

          <blockquote class="text-2xl lg:text-3xl font-normal leading-tight">Joel was our first marketing hire and has been a key member of our marketing team since 2016. Joel is deeply and uniquely talented in voice, branding, and copywriting. I strongly recommend taking the opportunity to work with him.<cite class="block text-xl lg:text-2xl font-bold mt-8"><span class="font-bold text-orange">&mdash;</span> Matt Connor, <span class="text-green italic">Strasmore & SSD Nodes</span></cite></blockquote>

        </div>
        <div class="w-full md:w-2/5 lg:w-1/3 xl:w-1/4">
        
          <img src="/img/clients/matt_connor.jpg" alt="Headshot of client Matt Connor" />

        </div>
      </div>

    </div>
  </div>
</section>

<section id="final" class="section bg-grey-lightest">
  <div class="container">
    <div class="columns items-center">

      <div class="content column lg:w-3/5 mb-16 lg:mb-0">
      
        <h2 class="text-3xl lg:text-4xl text-purple leading-tighter">Hire me to write nurtured copy that will grow your business. Get back to doing what you do best.</h2>
        <p>I'd love to use conversion copywriting and storytelling to turn more of your visitors into customers. But first, let's talk. During a 20-minute discovery session, we'll discuss fit and you'll walk away with some essential new knowledge:</p>
        <ul class="text-xl leading-tight mb-6">
          <li class="mb-2">First-hand advice on your current copy and content from a professional with nine years of experience</li>
          <li class="mb-2">A diagnosis of why your brand's story might not be inspiring the right people to take</li>
          <li class="mb-2">My vision for your business <em>with</em> nurtured copy and content</li>
          <li>Whether we're a good fit to work together!</li>
        </ul>
        <p>The call will be rapid-fire, critique-heavy, and relentlessly focused on your nurtured future. Ready to get started? I'm currently available for remote consulting projects.</p>
        <a class="button inline-block text-lg lg:text-xl font-bold text-white bg-orange p-6 hover:bg-green" href="/contact/">Tell me about your project</a>
      
      </div>
      <div class="column lg:w-2/5">
        <div class="p-8 border-2 border-orange rounded">
      
        <p class="text-xl mb-4">Available for:</p>
        <ul class="text-base leading-tight mb-6 p-0">
          <li class="mb-2">Audits of existing web copy</li>
          <li class="mb-2">Copywriting of new sites or landing pages</li>
          <li class="mb-2">Customer research, including surveys and heatmaps</li>
          <li class="mb-2">Content marketing strategy, including every written asset you'll need to inspire visitors and turn them into customers</li>
          <li class="mb-2">Email campaigns for onboarding, retention, and more</li>
          <li class="mb-2">A/B testing for incremental-but-essential improvement</li>
          <li class="mb-2">And more...</li>
        </ul>
        <a class="button inline-block text-pink font-bold border-2 border-orange p-4 hover:text-orange" href="/services/">Read more about my services</a>

        </div>
      </div>
      <div class="column lg:w-3/4 xl:w-3/5 flex items-center flex-wrap justify-between space-between mt-24">

        <h2 class="w-full flex-grow flex-no-shrink text-xl lg:text-2xl text-green font-display font-bold">Join other happy clients:</h2>
        <img class="client client-ssdnodes" src="/img/brands/ssd-nodes.svg" alt="SSD Nodes logo" />
        <img class="client client-imgsrvr" src="/img/brands/img-srvr.png" alt="The IMG SRVR logo" />
        <img class="client client-opentext" src="/img/brands/open-text.svg" alt="The OpenText logo" />
        <img class="client client-logicgate" src="/img/brands/logic-gate.svg"alt="The LogicGate logo"  />
      
      </div>
    </div>
    {{/* <div class="columns">
      <div class="final-about column lg:w-3/5 mx-auto py-16 border-grad rounded">

        <p class="text-2xl text-orange font-display font-bold mb-4 mix-none">Writes a mean sentence.</p>
        <p class="text-2xl text-orange font-display font-bold mb-4 mix-none">Real-world experience with geniune tech disruptors.</p>
        <p class="text-2xl text-orange font-display font-bold mb-4 mix-none">Lives for writing stories.</p>
        <p class="text-2xl text-orange font-display font-bold mb-4 mix-none">Loves to get dirty with a mountain bike.</p>
        <a class="button text-xl text-pink bg-white mt-4 p-4 hover:text-purple" href="/about/">Learn more about Joel</a>

      </div>
    </div> */}}
    {{/* <div class="columns mt-32">
      <div class="quote column lg:w-3/4 flex flex-wrap items-center mx-auto py-12 border-grad rounded">

        <div class="w-full md:w-3/5 lg:w-2/3 xl:w-3/4 pr-0 md:pr-6 ">

          <blockquote class="text-2xl lg:text-3xl font-normal leading-tight">Our experience with Joel was wonderful. He was very professional and took the time to really understand what we wanted. The communication about edits went very smoothly as well and we are really happy with the final copy. <cite class="block text-xl lg:text-2xl font-bold mt-8"><span class="font-bold text-orange">&mdash;</span> Cassidy Warren, <span class="text-green italic">Travelti</span></cite></blockquote>

        </div>
        <div class="w-full md:w-2/5 lg:w-1/3 xl:w-1/4">
        
          <img src="/img/clients/cassidy_warren.jpg" alt="Headshot of client Matt Connor" />

        </div>

      </div>
    </div> */}}
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column lg:w-4/5 flex items-center flex-wrap mx-auto py-12 border-grad rounded">

        <div class="w-full md:w-2/3">
          <p class="text-3xl text-orange font-display font-bold leading-tight mb-6 md:mb-0">Writes a mean sentence. Real-world experience with geniune tech disruptors. Lives for writing stories. Loves to get dirty with a mountain bike.</p>
        </div>
        <div class="w-full md:w-1/3 flex justify-center">
          <a class="button text-xl text-white bg-pink p-4 hover:bg-orange" href="/about/">Learn more about Joel</a>
        </div>

      </div>
    </div>
  </div>
</section>

{{ end }}