{% extends 'partials/base.html.twig' %}

{% block content %}

  <div class="grid">

    <div class="contact__info col--6">
      {{ page.content }}
      {% include "forms/form.html.twig" with { form: forms('contact-form') } %}
    </div>

    <div class="contact__img col--6">
      <!-- <img src="{{ url('theme://dist/images/lightning.png') }}" /> -->
    </div>

    <div id="map" class="map col--8"></div>

  </div>

{% endblock %}
