{% extends 'partials/base.html.twig' %}

{% block content %}

  <div class="grid">

    <div class="page__hero front__hero col--8">
      <h1>{{ page.header.tagline }}</h1>
    </div>

    <div class="contact__img col--6"></div>

    <div class="contact__info col--6">
      <p>Send us an email&mdash;hi@nurse.media&mdash;or fill out the short form below.</p>
      {% include "forms/form.html.twig" with { form: forms('contact-form') } %}
    </div>

  </div>

{% endblock %}
