{% extends 'partials/base.html.twig' %}

{% block content %}

  <div class="grid">

    <div class="front__hero col--6">
      <h1>Where brands get shelter</h1>
      {{ content }}
    </div>

    <div class="front__logo col--2">
      <img src="{{ url('theme://dist/images/nurse_logo_white.svg') }}" />
    </div>

  </div>

{% endblock %}
