{% extends 'partials/base.html.twig' %}
{% macro pageLinkName(text) %} {{ text|lower|replace({' ':'_'}) }} {% endmacro %}

{% block content %}
	{% for module in page.collection() %}
		<section class="modular--row {{module.slug}}">
			<div class="container">
				{{ module.content }}
			</div>
		</section>
	{% endfor %}
{% endblock %}
