/* ===============================================================
== 
== Navigation
==
=============================================================== */

/* Nurse logo
=============================================================== */

.logo {
  max-height: 50px;
}

.cactus {
  margin-left: -1px;
  /* transition: 0.3s all ease; */
}

.logo svg {
  max-height: 40px;
  font-size: 1.5rem;
  font-weight: 600;
  @apply font-display;
}

.nurse #text_nurse {
  dominant-baseline: middle;
  text-anchor: left;
  fill: linear-gradient(to bottom right, config(colors.pink), config(colors.purple));
  transition: 0.3s all ease;
}

.nurse {
  @apply ml-2;
}

.logo:hover .cactus {
  transform: scale(1.3) rotateZ(-7deg);
}

/* .logo:hover .nurse stop:nth-child(2) {
  stop-color: black;
} */

/* Other links/buttons
=============================================================== */

.nav_items a {
  @apply block text-xl font-bold mr-8 mt-8;

  &:not(.button) {
    @apply text-orange;
  }

  @screen lg {
    @apply inline-block text-lg mt-0;
  }

  &:hover:not(.button) {
    @apply text-pink;
  }
}