/////////////////////////////////
// BASE
/////////////////////////////////

html
  box-sizing: border-box

html,
body
  height: 100%

*, *:before, *:after
  box-sizing: inherit

body
  color: $gray
  background-color: $orange
  overflow-x: hidden

::selection
  background: $purple
  color: white
::-moz-selection
  background: $purple
  color: white

svg.clip-svg
  position: absolute
  top: -9999px

/////////////////////////////////
// MAIN
/////////////////////////////////

main
  width: 100%
  position: relative
  min-height: 100vh
  height: auto
  @media (min-width: 0em) and (max-width: 45em)
    height: auto
    min-height: 100vh

main .grid
  height: 100%
  margin-top: -90px
  padding-top: 16rem
  padding-bottom: 10rem
  flex-direction: row

/////////////////////////////////
// GRID
/////////////////////////////////

$susy : ( container: 80rem, columns: 12, gutters: .75, box-sizing: border-box )

.grid
  +container()
  padding: 2rem
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  perspective: 2000px
  @media (min-width: 0em) and (max-width: 40em)
    flex-flow: column wrap

main(:not(.home)) .grid
  padding-top: 16rem
  padding-bottom: 10rem

.col--12
  width: span(12)
  @media (min-width: 0em) and (max-width: 40em)
    width: span(12)

.col--8
  width: span(8)
  @media (min-width: 0em) and (max-width: 40em)
    width: span(12)

.col--6
  width: span(6)
  @media (min-width: 0em) and (max-width: 45em)
    width: span(12)
  &:nth-last-of-type(2n)
    margin-right: gutter()
    @media (min-width: 0em) and (max-width: 45em)
      margin-right: 0

.col--4
  width: span(4)
  @media (min-width: 0em) and (max-width: 45em)
    width: span(12)

.col--2
  width: span(2)
  @media (min-width: 0em) and (max-width: 45em)
    width: span(12)

.col--half
  width: 50%
  margin-right: 0
  margin-bottom: 0

/////////////////////////////////
// GRID
/////////////////////////////////

.page__hero
  color: $d-blue
  margin-bottom: 8rem
  transform: translateY(0%) rotateY( 0deg )
  transition: transform 0.5s 0s ease-in-out
  transform-style: preserve-3d

.hero--shifted
  transform: translateY(-10%) rotateY( -30deg )
