html
  box-sizing: border-box

html,
body
  height: 100%

*, *:before, *:after
  box-sizing: inherit

body
  background-color: #4a4a4a

$susy : (columns: 12, gutters: .75, gutter-position: split )

.container
  @include container(70em)

header,
._do,
._clients,
._about,
._contact
  transition: all 0.3s linear
  // transform: translateZ(0)

.blur
  filter: blur(10px)
