@mixin fontmake ($size: 1, $line: $size * 1.5, $margin: $size * 1.5, $weight: 400, $family: "Arial", $serif: "sans-serif")
  font-family   : "#{$family}" , #{$serif}
  font-size     : $size + rem
  font-weight   : $weight
  line-height   : $line + rem
  margin-bottom : $margin + rem
