@mixin fontmake ($size: 1, $line: $size * 1.5, $margin: $size * 1.5, $weight: null, $family: null)
  @if $family
    font-family : "#{$family}"
  @else
    font-family : inherit
  font-size     : $size + rem
  @if $weight
    font-weight : $weight
  @else
    font-weight : inherit
  line-height   : $line + rem
  margin-bottom : $margin + rem
