body
  font-size: 100%
  font-family: 'Overpass', sans-serif
  font-weight: 300
  color: $gray

p
  +fontmake ($family: 'Overpass', $size: 1.1)
  font-weight: 400
  // text-align: justify
  color: $gray
  margin-top: 0

h1,h2,h3,h4,h5,h6
  font-family: 'Quicksand', sans-serif
  font-weight: 700
  margin-top: 1rem

h1
  +fontmake ($family: 'Quicksand', $size: 2, $weight: 700)

a
  position: relative
  color: $purple
  font-weight: 500
  text-decoration: none
  transition: color 0.3s linear
