body
  font: 400 2rem/1.5 "Overpass", sans-serif
  color: $gray

a
  position: relative
  color: $purple
  font-weight: 500
  text-decoration: none
  transition: color 0.3s linear

@font-face
  font-family: 'Anders'
  src: url('../../fonts/Anders.woff') format('woff')
  src: url('../../fonts/Anders.woff') format('woff'), url('../../fonts/Anders.ttf') format('truetype')
  font-weight: 400
  font-style: normal
